<div id="main-col">  
        
<div id="illustration" class="title">
    <div class="container clearfix">
        <h1 class="pull-left">Accommodation</h1> 
    </div>
</div> 

<div class="container">
 
    <div class="row">
    
       
        <div class="col-md-12 text-only">   
        
        
        <h2>Conference Venue</h2> 

        <blockquote style="background: transparent; border: none medium; padding: 1rem; margin: 0;">
            <strong><a href="https://kiez-bollmannsruh.de/" target="_blank">KiEZ Bollmannsruh</a></strong><br>
            Bollmanns-ruh 13,<br> 14778 Päwesin,<br>Germany<br> 
            <a href="https://www.google.fr/maps/place/KiEZ+Bollmannsruh/@52.5055832,12.6800713,17z/data=!3m1!4b1!4m5!3m4!1s0x47a8e83a1499d6db:0x5b4e366b6469e4a7!8m2!3d52.50558!4d12.68226" target="_blank">52.506◦ N, 12.679◦ E</a><br>
            <br>
        </blockquote>
        <p><a href="https://kiez-bollmannsruh.de/" target="_blank">KiEZ Bollmannsruh</a> offers both single or double rooms. See the <a href="/registration">Registration Form</a> for details.</p>
               

        <div class="alert alert-info">The KIEZ provides linen but please BRING YOUR OWN TOWEL</div>

        <h2>Alternative venue</h2>
        <p>The IMC venue is neighboured by <a href="https://www.hotel-bollmannsruh.de/home-en.html" target="_blank">a hotel</a> at the same lake as the KiEZ
        Bollmannsruh. You can also book a room in this hotel, but booking is 
        on your own. The IMC participation fee is then 90 EUR for the remaining
        expenses (lunch, dinner, conference facilities). See the <a href="/registration">Registration Form</a> for details.</p>

        <p>The walking distance from the hotel to the IMC venue is about 600 metres.
        Both locations have a decent number of parking lots for cars. You can book a room at the Hotal Boolmannsruh <a href="https://www.hotel-bollmannsruh.de/home-en.html" target="_blank">online</a>.</p>
        
        
        <? /*
        
        <p>The hotel provides accommodation in three separate residences for 130 guests in 58 rooms: single rooms, double rooms, a family room and apartments with a terrace. Every room is equipped with cable TV with flat screen, internet connection, telephone, bathroom with toilet, and a shower.</p>
        <p>The large restaurant has a capacity of around 80 guests plus a terrace overlooking the riding arena.</p>
         
        <div class="row dmb">
            <div class="col-md-6">
                <a href="/img/ven/ven1.jpg" data-gallery><img src="/img/ven/ven1.jpg" class="img-responsive mt"/></a>
            </div>
            <div class="col-md-6">
                <a href="/img/ven/ven2.jpg" data-gallery><img src="/img/ven/ven2.jpg" class="img-responsive mt"/></a>
            </div>
              <div class="col-md-6">
                <a href="/img/ven/ven3.jpg" data-gallery><img src="/img/ven/ven3.jpg" class="img-responsive mt"/></a>
            </div>
              <div class="col-md-6">
                <a href="/img/ven/ven4.jpg" data-gallery><img src="/img/ven/ven4.jpg" class="img-responsive mt"/></a>
            </div>
         </div>
         
       <h2><a name="alt_acc" id="alt_acc"></a>Alternative Accommodations</h2>
       <p>On the <a href="registration">registration form</a> and the <a href="payment">payment page</a>, you will also find a “no accommodation” option. While we
        generally recommend the other options which include lodging at the conference venue, we nevertheless offer you the possibility to book your own accommodation. This might be useful, for example, if you insist on single accommodation when we are out of the very limited number of singles available, or if you take your spouse or friend with you, and you want him/her to be completely independent of the IMC schedule. If you choose the no-accommodation option, however, you are responsible for finding suitable alternative accommodation. These are
        some links to the websites of nearby hotels and boarding houses you may want to look at in this case:</p>

        <ul>
            <li><a href="http://novy.penzionpezinok.sk/?lang=en" target="_blank"><strong>Penzión pod kláštorom</strong></a> (<a href="https://www.google.com/maps/dir/Hotel+Roz%C3%A1lka,+Pezinok/Holubyho+61%2F29,+902+01+Pezinok/@48.2918788,17.2557364,1800m/data=!3m2!1e3!4b1!4m14!4m13!1m5!1m1!1s0x476c90d155a75069:0xfce41be96b10bfea!2m2!1d17.254123!2d48.296601!1m5!1m1!1s0x476c90c757c94eb1:0x7b70d33e4e6c6ff2!2m2!1d17.2690585!2d48.2858949!3e0" target="_blank"> 2km from the LOC</a>)</li>
            <li><a href="http://www.vinarskydom.sk/?lang=en" target="_blank"><strong>Hotel*** Vinársky Dom</strong></a> (<a href="https://www.google.com/maps/dir/Hotel+Roz%C3%A1lka,+Rozalka+9,+902+01+Pezinok/Hotel+Vin%C3%A1rsky+Dom,+Holubyho+5011%2F27,+902+01+Pezinok/@48.2918196,17.2557765,1801m/data=!3m1!1e3!4m14!4m13!1m5!1m1!1s0x476c90d155a75069:0xfce41be96b10bfea!2m2!1d17.254123!2d48.296601!1m5!1m1!1s0x476c90b8a9dd7f67:0x8b3deb0b329b2f45!2m2!1d17.269137!2d48.2857766!3e0" target="_blank">2km from the LOC</a>)</li>
            <li><a href="http://www.hoteltilia.sk/en" target="_blank"><strong>Hotel Tilia</strong></a> (<a href="https://www.google.com/maps/dir/Hotel+Roz%C3%A1lka,+Rozalka+9,+902+01+Pezinok/Tilia+****,+Koll%C3%A1rova+136%2F20,+902+01+Pezinok/@48.2883682,17.263471,2140m/data=!3m1!1e3!4m14!4m13!1m5!1m1!1s0x476c90d155a75069:0xfce41be96b10bfea!2m2!1d17.254123!2d48.296601!1m5!1m1!1s0x476c90b8c0a42e6f:0x4b285d3a0e7ba13e!2m2!1d17.2718678!2d48.2862404!3e0" target="_blank">2.5km from the LOC</a>)</li>
        </ul>

    <p>Transportation between the conference venue and these or other alternative accommodations are also the
responsibility of the participant choosing the “no-accommodation” option. However, a taxi ride will typically cost
no more than 3-5&euro;.</p>
        */  ?>
         
         
         </div>
    </div>
</div>
