<div id="main-col">          
<div id="illustration" class="title">
    <div class="container clearfix">
        <h1 class="pull-left">Excursion</h1> 
    </div>
</div> 
<div class="container">

<div class="row dmb">
      
    <div class="col-md-12 text-only  ">
  
        <h2>Telegraph hill, Postdam</h2>
        <p>The Saturday afternoon excursion will allow you to visit the “Telegraph hill” hosting

the historical buildings of the Astrophysical Observatory of Potsdam, founded in 1874. With the advent of spec-
troscopy, it was the first observatory addressing physical questions of celestial bodies, such as their composition

and physical processes they imply, in contrast to positional astronomy and celestial mechanics.</p>
<p> The observatory
includes the Einstein Tower, a still operational solar telescope housed in an impressionistic structure of 1920s.
The hill hosts several scientific institutes as well as a replica of the optical telegraph that gave the hill its name.</p>
         
         <div class="row dmb">
                <div class="col-sm-4">
                    <a href="/img/excursion/redstone1.jpg" data-gallery><img src="/img/excursion/redstone1.jpg" class="img-responsive mt"/></a>
                </div>
                <div class="col-sm-4">
                    <a href="/img/excursion/redstone2.jpg" data-gallery><img src="/img/excursion/redstone2-s.jpg" class="img-responsive mt"/></a>
                </div>
                <div class="col-sm-4">
                    <a href="/img/excursion/redstone3.jpg" data-gallery><img src="/img/excursion/redstone3-s.jpg" class="img-responsive mt"/></a>
                </div>
        </div> 
 
 
    </div>
</div>
</div>
</div>
