<div id="main-col">  
        
<div id="illustration" class="title">
    <div class="container clearfix">
        <h1 class="pull-left">IMO Membership</h1> 
    </div>
</div> 

<div class="container">
 
 
        <p>As a participant of the IMC 2019 in Germany, you may also be interested
in becoming a member of the <strong><a href="http://www.imo.net" target="_blank">International Meteor Organization</a></strong> (IMO). Members receive
the <a href="https://www.imo.net/publications/wgn/" target="_blank">bimonthly journal WGN</a> (on paper or electronically, or both) and have free digital
access not only to the WGN archive but also to the <a href="https://www.imo.net/resources/free-meteor-books/" target="_blank">Handbook for Meteor Observers and
the Meteor Shower Workbook</a> to two invaluable tools for observing meteors.</p>

<p> More
information about the activities of the IMO can be found on the <a href="http://www.imo.net" target="_blank">website</a>.</p>

<p>
The <a href="https://www.imo.net/members/imo_registration/register/" target="_blank">standard membership</a> fee currently amounts to 26 € (21€ for an electronic-only
subscription to WGN).</p>

<div class="well">
 <strong>If you become a member at the IMC in Bollmannsruh, we give
you a reduction of 5 € on the membership fee for your first year.</strong>
We also reward current members participating at the IMC with this <strong>reduction of 5 € on
the membership fee </strong>for their next year’s membership provided they renew at the IMC.</div>

<div class="mt mb text-center" style="display:block"><img src="/img/imo-group.jpg" class="img-responsive mt" style="margin:2em auto 1em"><em>IMC2013 Official group photo (Poznań, Poland) - credit: D. Richard.</em></div>
            </div>


    </div>    
</div> 
 