<div class="container" >
    <div class="row">
        <div id="main-col" class="index-main-col col-md-12">
            <div class="box anim-down">
               <div class="row">
                   
                   <div class="col-md-12">
                        


                    <? /*
                        <div class="well dmt mb">
                           <div class="text-center  anim-down ">
                                <strong>The IMC was a great success</strong>. You can view and upload pictures on the official<br/><a href="https://www.flickr.com/photos/166671124@N04/?" style="margin-top:1rem; margin-bottom:.5rem" class="btn btn-primary btn-lg" target="_blank">IMC2018 Flickr account</a>.
                                <br/>All participants will or has received credentials to access this account. If you are not confortable using Flickr, you can send your photos to <a href="mailt:imc2018@imo.net">imc2018@imo.net</a>.
                            </div>
                        </div>
                        
                        <div class="mt mb">
                            <a href="https://www.flickr.com/photos/166671124@N04/?" target="_blank">
                                <img src="/img/imc-group.jpg" alt="IMC2018 Group Photo" class="img-responsive"/>
                            </a>
                        </div>

                        <style type="text/css"> 
                            .flickrimg {    border: none medium;
    margin: .2rem;
    max-height: 160px; padding:.2rem;}
                            #flickr_badge_wrapper {max-width:1140px;text-align:center}
                            #flickr_badge_wrapper a {
                                display:block;
                                float:left;
                                width: 20%;
                                overflow: hidden;
                            }
                            #flickr_badge_wrapper a:last-child {
                                display: block;
                                text-align: center;
                                clear: both;
                                width: 300px;
                                font-weight: bold;
                                float: none;
                                margin: 2rem auto;
                                padding-top: 2rem;
                            }
                            @media (max-width:767px) {
                                #flickr_badge_wrapper a {
                                    width:50%;
                                }
                            }
                            </style>
                            <div id="flickr_badge_wrapper" class="clearfix">
                                <script type="text/javascript" src="https://www.flickr.com/badge_code.gne?count=20&display=random&size=mid&nsid=166671124@N04&raw=1"></script>
                            </div>
   */ ?>

                            
         
                        
                        <? /*
                        <div class="text-center dmt anim-down mb">
                            <a href="<?= FB_EVENT_PAGE; ?>" class="btn btn-social btn-facebook" target="_blank" >
                                <span class="fa fa-facebook"></span> IMC <?= CONF_YEAR; ?>
                            </a>  
                            <a href="https://www.facebook.com/InternationalMeteorOrganization/" class="btn btn-social btn-facebook" target="_blank">
                                <span class="fa fa-facebook"></span> Follow the IMO
                            </a> 
                        </div>   
                        */ ?>
                     
            <div class="row">
                <div class="col-xs-4 hidden-xs">
                    <div class="well mb">
                            <img src="https://imc2018.imo.net/img/imc-group.jpg" class="img-responsive anim-down mb"/>
                        <p>The <strong>IMC</strong> is the annual meeting of the 
                        <a href="http://www.imo.net" target="_blank"><strong>International Meteor Organization</strong></a> (IMO),
                        which brings together amateurs from all over the world who engage in meteor observation, analysis and instrumentation.
                         
                        Its objectives are to encourage, support and coordinate meteor observing, to improve the quality of
                        amateur observations, to disseminate observations and results to other amateurs and professionals
                        and to make global analyses of observations received world-wide. 
                        </p>
                        
                    </div>   
                </div>
                <div class="col-md-8">
                    <p><strong>The 38th International Meteor Conference (IMC <?= CONF_YEAR; ?>)</strong> will be held in 
                        <a href="https://www.google.fr/maps/place/14778+Päwesin,+Germany/" target=_"blank">Bollmannsruh, Germany</a>, 
                        a countryside place not far from Berlin. The venue is a youth hostel by a lake, which 
                        <a href="https://www.imo.net/conference-imc/past-conferences/imc2003/" target=_"blank">                            
                       hosted the IMC already in 2003</a>.</p>
                    </p>
                    <p>We were able to rent the entire  <a href="https://kiez-bollmannsruh.de/" target="_blank">KiEZ Bollmannsruh</a> hostel
                        for <strong>October 3–6</strong>. This hostel offers
                        accommodation in bungalows, a conference hall as well as a few smaller seminar rooms. Note that the relatively
                        remote location brings along rather poor connectivity to the internet.  The area is a 25-acre place for recreation
                        with surrounding forests and fields for extensive hikes. For the brave, swimming in the lake is possible, but water
                        temperatures will have dropped to about 15◦C by October.</p>
                
                    <p>Venue address and GPS coordinates:</p>
                    <div class="row">
                        <div class="col-md-6">
                                <blockquote style="background: transparent; border: none medium; padding: 1rem; margin: 0;">
                                        <strong><a href="https://kiez-bollmannsruh.de/" target="_blank">KiEZ Bollmannsruh</a></strong><br/>
                                        Bollmanns-ruh 13,<br/> 14778 Päwesin,<br/>Germany<br/> 
                                        <a href="https://www.google.fr/maps/place/KiEZ+Bollmannsruh/@52.5055832,12.6800713,17z/data=!3m1!4b1!4m5!3m4!1s0x47a8e83a1499d6db:0x5b4e366b6469e4a7!8m2!3d52.50558!4d12.68226" target="_blank">52.506◦ N, 12.679◦ E</a><br/>
                                        <br>
                                    </blockquote>
                        </div>
                        <div class="col-md-6 text-center">
                                <a href="/registration" class="btn btn-primary btn-lg dmt"><strong>Register Now!</strong></a>
                        </div>
                    </div>
                    
                    <p>
                    <strong>We are looking forward to seeing you in Germany!<br/>
                    The Local Organization Committee.</strong>
                    </p>
                </div>
            </div>            
                 
                                   
                         

                        
                   </div>
               </div>
           </div>
         </div>
    </div>
</div>
