<div id="main-col">  
        
    <div id="illustration" class="title">
        <div class="container clearfix">
            <h1 class="pull-left">Your Registration details</h1> 
        </div>
    </div> 

    <div class="container">
 
        <div class="row">
    
            <div class="col-md-12 text-only">         
                    
                   <? if(!empty($input['login_error'])): ?>
                        <div class="alert alert-danger">
                            <?= $input['login_error']; ?>
                        </div>
                   <? else: ?>
                         
<div class="container-fluid">
  
<form class="form-horizontal"  method="POST" >
        <input type="hidden" name="submit" value="1"/>
        <input type="hidden" name="year" value="<?= CONF_YEAR; ?>"/> <? /* see registration_model */ ?>
        <input type="hidden" name="user_id" value="<?= $input['user_id']; ?>"/>
        <input type="hidden" name="edit_link" value="<?= $input['edit_link']; ?>"/>
        
        
        <div class="alert alert-info">
               <span class="fa fa-info-circle"></span> If you want to update other info, please <strong><a href="/contact">contact us</a></strong>.
        </div> 
         
        <? if(!empty($input['update_success'])): ?>
            <div class="alert alert-success">
                 <?= $input['update_success']; ?>
            </div>
        <? endif; ?> 
        
        <? if(!empty($input['update_errors'])): ?>
            <div class="alert alert-success">
                 <?= $input['update_errors']; ?>
            </div>
        <? endif; ?> 
        
       
          
         
        <? if (!empty($input['errors']) ) : ?>
             
            <script>
                var error_field = ['<?= implode("','", array_keys($input['errors'])); ?>'];
            </script>
        
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong><?= (count($input['errors'])>=1)?_('Errors'):_('Error'); ?></strong>
                <ul>
                    <? foreach($input['errors'] as $k=>$v): ?>
                        <li><?= $v; ?> - <a href="#<?=$k;?>">Here</a></li>
                    <? endforeach; ?>
                </ul>
            </div>
        <? endif; ?>  

        <ul id="part_tabs" class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#acc" id="acc-tab" role="tab" data-toggle="tab">Summary</a></li>
            <li><a href="#info" id="info-tab" role="tab" data-toggle="tab">Personal Info</a></li>
            <li><a href="#travel" id="travel-tab" role="tab" data-toggle="tab">Travel &amp; Arrival</a></li>
            <li><a href="#proc" id="proc-tab" role="tab" data-toggle="tab">Lecture &amp; Poster</a></li>
            <? /* <li><a href="#work" id="work-tab" role="tab" data-toggle="tab">Workshops</a></li>*/ ?>
            <li><a href="#other" id="other-tab" role="tab" data-toggle="tab">Other Info</a></li>
        </ul>
        
        <div id="part_tabsContent" class="tab-content">
 
             
            <? /* Accomodation */ ?>
            <div class="tab-pane fade in active" id="acc">
                 <div class="form-group mt text-center">
                   
                     You have selected the following registration type:<br/>
                         <? foreach($input['accomodations'] as $k=>$v) : ?>
                            <?if(!empty($input['reg_type']) && $input['reg_type']==$k):?>
                            <div class="checkbox">
                                <label>
                                    <input name="reg_type" type="radio" value="<?= $k; ?>"   required checked>
                                    <?if(strtotime($v['early_bird_date'])-strtotime("now")>0): ?>
                                        <strong><?= $v['price']; ?><?= !empty($v['price'])?$v['currency'].' - ':''; ?>  <?= $v['details'];?></strong>
                                        <input type="hidden" name="<?= $k; ?>_price" value="<?= !empty($v['price'])?$v['price']:'0'; ?>"/>

                                    <? else: ?>
                                        <strong><?= $v['price_late']; ?><?= $v['currency']; ?> - <?= $v['details'];?></strong>
                                        <input type="hidden" name="<?= $k; ?>_price" value="<?= !empty($v['price_late'])?$v['price_late']:'0'; ?>"/>
                                    <? endif; ?>
                                </label>
                            </div>
                            <?endif; ?>
                        <? endforeach; ?>
                     
                     
                        <div class="hidden">
                     
                             <div id="roommate" class="form-group hidden">
                                    <label for="roomate" class="col-sm-3 control-label text-right">Preferred Roommate(s) in the IMC Host</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="roomate" id="roomate" class="form-control" placeholder="Preferred roommate name(s)" value="<?= !empty($input['roomate'])?$input['roomate']:''; ?>"/>
                                    </div>
                             </div>
                     
                     
                             <div  class="form-group">
                                    <label for="roomnumber" class="col-sm-3 control-label text-right">Room Number</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="roomnumber" id="roomnumber" class="form-control" placeholder="Room number" value="<?= !empty($input['roomnumber'])?$input['roomnumber']:''; ?>"/>
                                    </div>
                             </div>
                         
                         </div>
                     
                 </div>
                 
                  
                 <div id="roommate" class="form-group hidden">
                        <label for="roomate" class="col-sm-3 control-label text-right">Preferred Roommate(s) in the IMC Host</label>
                        <div class="col-sm-9">
                            <input type="text" name="roomate" id="roomate" class="form-control" placeholder="Preferred roommate name(s)" value="<?= !empty($input['roomate'])?$input['roomate']:''; ?>"/>
                        </div>
                 </div>
 
            </div>
            
            <? /* Personal Info */ ?>
            <div class="tab-pane fade in" id="info">
             
            
                <div class="form-group">
                    <label for="title" class="col-sm-3 control-label text-right">Title</label>
                    <div class="col-sm-9">
                        <select name="title" id="title" class="form-control auto">
                            <option value="Mr."  <? if(!empty($input['title']) && $input['title']=='Mr.'):?>selected<?endif; ?>>  Mr.</option>
                            <option value="Ms."  <? if(!empty($input['title']) && $input['title']=='Ms.'):?>selected<?endif; ?>>   Ms.</option>
                            <option value="Mrs." <? if(!empty($input['title']) && $input['title']=='Mrs.'):?>selected<?endif; ?>> Mrs.</option>
                            <option value="Dr."  <? if(!empty($input['title']) && $input['title']=='Dr.'):?>selected<?endif; ?>>  Dr.</option>
                            <option value="Prof." <? if(!empty($input['title']) && $input['title']=='Prof.'):?>selected<?endif; ?>>Prof.</option>
                        </select>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="firstname" class="col-sm-3 control-label text-right">First name <span>*</span></label>
                    <div class="col-sm-9 hmt">
                        <?= !empty($input['firstname'])?$input['firstname']:''; ?>
                        <input type="hidden" name="firstname" id="firstname" class="form-control auto" size="30" placeholder="First Name" value="<?= !empty($input['firstname'])?$input['firstname']:''; ?>" required />
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="lastname" class="col-sm-3 control-label text-right">Last name <span>*</span></label>
                    <div class="col-sm-9 hmt">
                        <?= !empty($input['lastname'])?$input['lastname']:''; ?>
                        <input type="hidden" name="lastname" id="lastname" class="form-control auto" size="30" placeholder="Last Name" value="<?= !empty($input['lastname'])?$input['lastname']:''; ?>" required/>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="gender" class="col-sm-3 control-label text-right">Gender <span>*</span></label>
                    <div class="col-sm-9">
                        <select name="gender" id="gender" class="form-control auto" required>
                            <option value=""  <? if(empty($input['gender'])):?>selected<?endif; ?>>Please, select your gender</option>
                            <option value="F"  <? if(!empty($input['gender']) && $input['gender']=='F'):?>selected<?endif; ?>>Female</option>
                            <option value="M" <? if(!empty($input['gender']) && $input['gender']=='M'):?>selected<?endif; ?>>Male</option>
                        </select>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="email" class="col-sm-3 control-label text-right">Phone Number <span>*</span></label>
                    <div class="col-sm-9">
                        <input type="text" name="phone" id="phone" class="form-control auto" size="30" placeholder="Phone Number" required value="<?= !empty($input['phone'])?$input['phone']:''; ?>"/>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="email" class="col-sm-3 control-label text-right">Email <span>*</span></label>
                    <div class="col-sm-9">
                        <input type="email" name="email" id="email" class="form-control auto" size="30" placeholder="Email" required value="<?= !empty($input['email'])?$input['email']:''; ?>"/>
                    </div>
                </div>
              
                
                <div class="form-group">
                    <label for="address" class="col-sm-3 control-label text-right">Address <span>*</span></label>
                    <div class="col-sm-9">
                        <input type="text" name="address" id="address" class="form-control  "   placeholder="Your address" required value="<?= !empty($input['address'])?$input['address']:''; ?>"/>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="post_code" class="col-sm-3 control-label text-right">Postal Code</label>
                    <div class="col-sm-9">
                        <input type="text" name="post_code" id="post_code" class="form-control auto" size="20" placeholder="Postal Code" value="<?= !empty($input['post_code'])?$input['post_code']:''; ?>"/>
                    </div>
                </div>
                
                 <div class="form-group">
                    <label for="city" class="col-sm-3 control-label text-right">City (+ state/province/region) <span>*</span></label>
                    <div class="col-sm-9">
                        <input type="text" name="city" id="city" class="form-control auto" size="35" placeholder="City (+ state/province/region)" required value="<?= !empty($input['city'])?$input['city']:''; ?>"/>
                    </div>
                </div>
                
                
                <div class="form-group">
                    <label for="country" class="col-sm-3 control-label text-right">Country <span>*</span></label>
                    <div class="col-sm-9">
                         <select id="country" name="country" class="form-control auto" required >
                            <option value=""></option>
                            <? foreach($input['countries'] as $c): ?>
                                <option value="<?= $c['country_id']; ?>"
                                <?= (!empty($input['country']) && $input['country']==$c['country_id'])?'selected':''; ?>><?= $c['short_name']; ?></option>
                            <? endforeach; ?>
                        </select>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="org" class="col-sm-3 control-label text-right">Organization</label>
                    <div class="col-sm-9">
                        <input type="text" name="org" id="org" class="form-control auto" size="30" placeholder="Organization"  value="<?= !empty($input['org'])?$input['org']:''; ?>"/>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="dob" class="col-sm-3 control-label text-right">Date of Birth <span>*</span></label>
                    <div class="col-sm-9">
                        <input type="text" required name="dob" id="dob" class="form-control auto" size="11" placeholder="1976-09-10"  value="<?= !empty($input['dob'])?$input['dob']:''; ?>"> 
                    </div>
                </div>
            </div>
            
            <? /* Travel & Arrival */ ?>
            <div class="tab-pane fade in" id="travel">
                <div class="form-group mt">
                    <label for="travel_type" class="col-sm-3 control-label text-right">Travelling by</label>
                    <div class="col-sm-9">
                        <select id="travel_type" name="travel_type" class="form-control auto" required>
                            <option value="car"     <?= !empty($input['travel_type']) && $input['travel_type']=='car'?'selected':''; ?> >Car</option>
                            <option value="bus"     <?= !empty($input['travel_type']) && $input['travel_type']=='bus'?'selected':''; ?>>Bus</option>
                            <option value="plane"   <?= !empty($input['travel_type']) && $input['travel_type']=='plane'?'selected':''; ?>>Plane</option>
                            <option value="train"   <?= !empty($input['travel_type']) && $input['travel_type']=='train'?'selected':''; ?>>Train</option>
                            <option value="local"   <?= !empty($input['travel_type']) && $input['travel_type']=='local'?'selected':''; ?>>Local resident</option>
                            <option value="unknown" <?= !empty($input['travel_type']) && $input['travel_type']=='unknown'?'selected':''; ?>>Not yet decided</option>
                        </select>
                    </div>
                 </div>
                 
                 <div class="form-group">
                    <label for="arrival_date" class="col-sm-3 control-label text-right">Arrival Day &amp; Time<span>*</span></label>
                    <div class="col-sm-9 form-inline">
                         <input  class="form-control auto" size="10"  name="arrival_date"  value="<?= $input['arrival_date']; ?>" /> 
                         <div class="inl-f-f">
                             at
                             <select class="form-control auto" name="arrival_time_h">
                                <? for($i=0; $i<24; $i++): ?>
                                    <option value="<?= sprintf('%02d', $i); ?>" 
                                        <?= !empty($input['arrival_time_h'])&& $input['arrival_time_h']==sprintf('%02d', $i)?'selected':''; ?>
                                    >
                                        <?= sprintf("%02d", $i); ?>
                                    </option>
                                <? endfor; ?>                        
                            </select> :
                            <select class="form-control auto" name="arrival_time_m">
                                <? for($i=0; $i<60; $i+=10): ?>
                                    <option value="<?= sprintf('%02d', $i); ?>" 
                                        <?= !empty($input['arrival_time_m'])&& $input['arrival_time_m']==sprintf('%02d', $i)?'selected':''; ?>
                                      >
                                        <?= sprintf("%02d", $i); ?>
                                    </option>
                                <? endfor; ?>                        
                            </select> 
                        </div>
                    </div>
                 </div>
                 
                 <div class="form-group">
                    <label for="departure_date" class="col-sm-3 control-label text-right">Departure Day &amp; Time<span>*</span></label>
                    <div class="col-sm-9 form-inline">
                       <input  class="form-control auto" size="10"  name="departure_date"  value="<?= $input['departure_date']; ?>" /> 
                       <div class="inl-f-f">
                            at
                            <select class="form-control auto" name="departure_time_h">
                                <? for($i=0; $i<24; $i++): ?>
                                    <option value="<?= sprintf('%02d', $i); ?>"                                    
                                         <?= !empty($input['departure_time_h'])&& $input['departure_time_h']==sprintf('%02d', $i)?'selected':''; ?>
    >
                                    <?= sprintf("%02d", $i); ?></option>
                                <? endfor; ?>                        
                            </select> :
                            <select class="form-control auto" name="departure_time_m" >
                                <? for($i=0; $i<60; $i+=10): ?>
                                    <option value="<?= sprintf('%02d', $i); ?>"  <?= !empty($input['departure_time_m'])&& $input['departure_time_m']==sprintf('%02d', $i)?'selected':''; ?>
    ><?= sprintf("%02d", $i); ?></option>
                                <? endfor; ?>                        
                            </select> 
                        </div>
                    </div>
                 </div>
                 
                 <div class="form-group">
                    <label for="details" class="col-sm-3 control-label text-right">Travel details</label>
                    <div class="col-sm-9">
                        <textarea name="details" id="details" class="form-control" placeholder="Travel details"><?= !empty($input['details'])?$input['details']:''  ; ?></textarea>
                    </div>
                 </div>     
            </div>
            
            <? /* Proceedings */ ?>
            <div class="tab-pane fade in" id="proc">
                <fieldset class="mt">
                         <div class="form-group">
                            <label for="prog" class="col-sm-3 control-label text-right">Do you wish to contribute to the program?</label>
                            <div class="col-sm-9 form-group">
                                <div class="checkbox-inline">
                                    <label>
                                      <input id="no_prog" name="prog" type="radio" value="no" <?if(empty($input['prog']) || $input['prog']=='no'):?>checked<?endif; ?>>
                                      No  
                                     </label>
                                </div>
                                <div class="checkbox-inline">
                                    <label>
                                      <input id="yes_prog" name="prog" type="radio" value="yes" <?if(!empty($input['prog']) && $input['prog']=='yes'):?>checked<?endif; ?>>
                                      Yes 
                                     </label>
                                </div>
                            </div>
                         </div>
                         
                         <div class="alert alert-info">
                            <span class="fa fa-info-circle"></span>
                            <strong>WARNING</strong> - All fields are required for talks &amp; posters.
                         </div>
                         
                         <? /* LECTURES & POSTERS */ ?>
                         <div id="lectures_and_posters" class="hidden" >
                            <input type="hidden" id="talks_num" name="talks_num" value="<? if(!empty($input['talks'])): ?><?= count($input['talks']); ?><? else: ?>0<? endif; ?>"/> 
                            <input type="hidden" id="posters_num" name="posters_num" value="<? if(!empty($input['posters'])): ?><?= count($input['posters']); ?><? else: ?>0<? endif; ?>"/> 
                            <div id="contrib_holder"></div>
                            
                            <div class="col-sm-offset-3 col-sm-9">
                                <div class="form-group">
                                    <a class="btn btn-default" id="add_talk"><strong>+</strong> Add a talk</a>
                                    <a class="btn btn-default" id="add_poster"><strong>+</strong>  Add a Poster</a>
                                </div>
                            </div>
                           
                         </div>
                         <? /* / LECTURE & POSTERS */ ?>
        
                </fieldset> 
            </div>
            
            
            <? /* Workshops   */ ?>
            <div class="tab-pane fade in" id="work">
                 <fieldset class="mt">
                          <legend class="hidden">August 29<sup>th</sup> Workshops</legend>
                          
                          
                          <div class="alert alert-info">
                            <span class="fa fa-info-circle"></span>
                            <strong>WARNING</strong> - If you already booked the extra night of August 29-30 and the extra meals for a workshop and you wish to cancel your participation to the workshop(s), you need to cancel your reservation with the hotel yourself.
                         </div>
                          
                        
                         <div class="form-group">
                    <label for="workshop1" class="col-sm-7 control-label text-right">Do you wish to participate to the VISUAL WORKSHOP on August 29<sup>th</sup>-30<sup>th?</label>
                    <div class="col-sm-5 form-group">
                        <div class="checkbox-inline">
                            <label>
                              <input id="no_workshop1" name="workshop1" type="radio" value="0" <?if(empty($input['workshop1'])):?>checked<?endif; ?>>
                              No  
                             </label>
                        </div>
                        <div class="checkbox-inline">
                            <label>
                              <input id="yes_workshop1" name="workshop1" type="radio" value="1" <?if(!empty($input['workshop1'])):?>checked<?endif; ?>>
                              Yes 
                             </label>
                        </div>
                        
                      
                        
                    </div>
                 </div>
                 
                 <div class="form-group">
                    <label for="workshop2" class="col-sm-7 control-label text-right">Do you wish to participate to the SPECTROSCOPIC WORKSHOP on August 29<sup>th</sup>-30<sup>th?</label>
                    <div class="col-sm-5 form-group">
                        <div class="checkbox-inline">
                            <label>
                              <input id="no_workshop2" name="workshop2" type="radio" value="0" <?if(empty($input['workshop2'])):?>checked<?endif; ?>>
                              No  
                             </label>
                        </div>
                        <div class="checkbox-inline">
                            <label>
                              <input id="yes_workshop2" name="workshop2" type="radio" value="1" <?if(!empty($input['workshop2'])):?>checked<?endif; ?>>
                              Yes 
                             </label>
                        </div>
                        
                       
                        
                    </div>
                 </div>
                 </fieldset>
            </div>       
             
            
            <? /* Other */ ?>
            <div class="tab-pane fade in" id="other">
                <fieldset class="mt">
                       
                        <legend class="hidden">Extras</legend>
                      
                         
                        
                        <div class="form-group hidden">
                            <label for="tshirt-q" class="col-sm-3 control-label text-right">Do you want to buy the official IMC<?= CONF_YEAR; ?> T-Shirt for <?= TSHIRT_PRICE; ?>&euro;?</label>
                            <div class="col-sm-9 form-group">
                                <div class="checkbox-inline">
                                    <label>
                                      <input id="no_tshirt" name="tshirt_q" type="radio" value="no" <?if(empty($input['tshirt'])):?>checked<?endif; ?>>
                                      No  
                                     </label>
                                </div>
                                <div class="checkbox-inline">
                                    <label>
                                      <input id="yes_tshirt" name="tshirt_q" type="radio" value="yes" <?if(!empty($input['tshirt'])):?>checked<?endif; ?>>
                                      Yes 
                                     </label>
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="hidden">
                            <div id="tshirt-holder" class="form-group  hidden ">
                                <label for="tshirt" class="col-sm-3 control-label text-right">T-shirt size</label>
                                <div class="col-sm-9">
                                    <select id="tshirt" name="tshirt" class="form-control auto">
                                        <option value="" <?= empty($input['tshirt'])?'selected':''; ?>>Select a size</option>
                                        <option value="S" <?= !empty($input['tshirt']) && $input['tshirt']=='S'?'selected':''; ?>>S (small)</option>
                                        <option value="M" <?= !empty($input['tshirt']) && $input['tshirt']=='M'?'selected':''; ?>>M (medium)</option>
                                        <option value="L" <?= !empty($input['tshirt']) && $input['tshirt']=='L'?'selected':''; ?>>L (large)</option>
                                        <option value="XL" <?= !empty($input['tshirt']) && $input['tshirt']=='XL'?'selected':''; ?>>XL (extra large)</option>
                                        <option value="XXL" <?= !empty($input['tshirt']) && $input['tshirt']=='XXL'?'selected':''; ?>>XXL (extra extra large)</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group hidden">
                            <label for="proceedings" class="col-sm-3 control-label text-right">Proceedings as</label>
                            <div class="col-sm-9">
                                <select name="proceedings" class="form-control auto">
                                    <? foreach($input['proceeding'] as $k=>$v): ?>
                                        <option value="<?=$k;?>" <?if(!empty($input['proceedings']) && ($input['proceedings']==$k)):?>selected<?endif; ?>><?= $v; ?></option>
                                     <? endforeach; ?>
                                 </select>
                            </div>
                        </div>
                         
                         <legend>Food</legend>
                         <div class="form-group">
                            <label for="food" class="col-sm-3 control-label text-right">Food requirements</label>
                            <div class="col-sm-9">
                                <select id="food" name="food" class="form-control auto" required>
                                    <? foreach($input['food_requirements'] as $k=>$v): ?>
                                        <option value="<?=$k;?>" <?if(!empty($input['food']) && ($input['food']==$k)):?>selected<?endif; ?>><?= $v; ?></option>
                                     <? endforeach; ?>
                                 </select>
                                 <input type="text" name="food_other" id="food_other" class="form-control auto mt <? if(empty($input['food_other'])):?>hidden<?endif;?>" size="80" value="<?= !empty($input['food_other'])?$input['food_other']:''; ?>" placeholder="Please, describe the requirement" />
                            </div>
                        </div> 
                        
                        <legend>Comments</legend>
                        <div class="form-group">
                            <label for="comments" class="col-sm-3 control-label text-right">Comments or specific instructions</label>
                            <div class="col-sm-9">
                                <textarea   name="comments" id="comments" class="form-control" placeholder="Comments"><?= !empty($input['comments'])?$input['comments']:''; ?></textarea>                        
                            </div>
                        </div>
                </fieldset>     
                
              
            </div>
            
 
        </div>
    
    
        <div class="mt">
            <button type="submit" class="btn btn-primary btn-lg">Update</button>
        </div>
    </form>
</div>
 
<? /**= TALK TEMPLATE =**/ ?>
<script id="talk_template" type="x-tmpl-mustache">
    <div id="talk{{ id }}_content" class="alert alert-dismissible contrib fade in">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="form-group">
            <label for="talk{{ id }}" class="col-sm-3 control-label text-right">Talk Title<span>*</span></label>
            <div class="col-sm-8">
                <input type="text" name="talk[]" id="talk{{ id }}" class="form-control auto" size="50" placeholder="Talk Title" required value="{{ title }}">
            </div>
        </div>
        <div class="form-group">
            <label for="talk_authors{{ id }}" class="col-sm-3 control-label text-right">Talk Author(s)<span>*</span></label>
            <div class="col-sm-9">
                <input type="text" name="talk_authors[]" id="talk_authors{{ id }}" class="form-control auto" size="50" placeholder="Talk Authors" required value="{{ authors }}">
                <span class="help-block">Enter the full list of authors - separate each author with a comma<br/>(ex: author_1_firstname author_1_lastname, author_2_firstname author_2_lastname  ...)</span>
            </div>
        </div>
        <div class="form-group">
            <label for="talk_abstract{{ id }}" class="col-sm-3 control-label text-right">Talk  Abstract<span>*</span></label>
            <div class="col-sm-9">
                <textarea maxlength="3000" rows="5" name="talk_abstract[]" id="talk_abstract{{ id }}" class="form-control" placeholder="Talk  Abstract" required>{{ abstract }}</textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="talk_session{{ id }}" class="col-sm-3 control-label text-right">Most suitable IMC session</label>
            <div class="col-sm-9">
                <select class="form-control auto talk_session" name="talk_session[]" required id="talk_session{{ id }}">
                <? foreach($input['sessions'] as $k=>$v): ?>  
                   <option value="<?= $k; ?>"><?= $v; ?></option>
                <? endforeach; ?>   
                </select>
             </div>
        </div>
        <div class="form-group">
            <label for="talk_duration{{ id }}" class="col-sm-3 control-label text-right">Talk Duration</label>
            <div class="col-sm-9">
                <select class="form-control auto talk_dur" name="talk_duration[]" required id="talk_duration{{ id }}">
                    <option value="10">10 min</option>
                    <option value="15">15 min</option>
                    <option value="20">20 min</option>
                    <option value="30">30 min</option>
                 </select>
                  <span class="help-block"><strong>Include 2-3 minutes</strong> for questions/comments. Keep your presentation short and leave details for the Proceedings.
                 </span>
             </div>
        </div>
         <div class="form-group">
            <label for="talk_delivery_date{{ id }}" class="col-sm-3 control-label text-right">Paper delivery date</label>
            <div class="col-sm-9">
                <select class="form-control auto talk_delivery_date" name="talk_delivery_date[]" required id="talk_delivery_date{{ id }}">
                    <? foreach($input['delivery_dates'] as $k=>$v): ?>
                        <option value="<?=$k;?>">
                            <?=$v['text'];?>
                        </option>
                    <? endforeach; ?>
                 </select>
                  <span class="help-block"><strong>For all lectures presented at an IMC a paper is mandatory for publication in the IMC Proceedings.
                 </span>
             </div>
        </div>
    </div>
</script>


<? /**= POSTER TEMPLATE =**/ ?>
<script id="poster_template" type="x-tmpl-mustache">
    <div id="poster{{ id }}_content"  class="alert alert-dismissible contrib fade in">
         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="form-group">
            <label for="poster{{ id }}" class="col-sm-3 control-label text-right">Poster Title<span>*</span></label>
            <div class="col-sm-8">
                <input type="text" name="poster[]" id="poster{{ id }}" class="form-control auto" size="50" placeholder="Poster Title" required value="{{ title }}">
                <span class="help-block">Each poster gets about 1m&sup2;.</span>
            </div>
        </div>
        <div class="form-group">
            <label for="poster_authors{{ id }}" class="col-sm-3 control-label text-right">Poster Author(s)<span>*</span></label>
            <div class="col-sm-9">
                <input type="text" name="poster_authors[]" id="poster_authors{{ id }}" required class="form-control auto" size="50" placeholder="Poster Authors" required value="{{ authors }}">
                <span class="help-block">Enter the full list of authors - separate each author with a comma<br/>(ex: author_1_firstname author_1_lastname, author_2_firstname author_2_lastname  ...)</span>
            </div>
        </div>
        <div class="form-group">
            <label for="poster_abstract{{ id }}" class="col-sm-3 control-label text-right">Poster Abstract<span>*</span></label>
            <div class="col-sm-9">
                <textarea maxlength="3000" rows="5" name="poster_abstract[]" required id="poster_abstract{{ id }}" class="form-control" placeholder="Poster Abstract" required>{{ abstract }}</textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="poster_session{{ id }}" class="col-sm-3 control-label text-right">Most suitable IMC session</label>
            <div class="col-sm-9">
                <select class="form-control auto poster_session" name="poster_session[]" required id="poster_session{{ id }}">
                <? foreach($input['sessions'] as $k=>$v): ?>  
                   <option value="<?= $k; ?>"><?= $v; ?></option>
                <? endforeach; ?>   
                </select>
             </div>
        </div>
         <div class="form-group">
            <label for="poster_delivery_date{{ id }}" class="col-sm-3 control-label text-right">Paper delivery date</label>
            <div class="col-sm-9">
                <select class="form-control auto poster_delivery_date" name="poster_delivery_date[]" required id="poster_delivery_date{{ id }}">
                    <? foreach($input['delivery_dates'] as $k=>$v): ?>
                        <option value="<?=$k;?>">
                            <?=$v['text'];?>
                        </option>
                    <? endforeach; ?>
                 </select>
                  <span class="help-block"><strong>For all posters presented at an IMC a paper is mandatory for publication in the IMC Proceedings.
                 </span>
             </div>
        </div>
    </div>
</script>

<? if(!empty($input['talk'])): ?>
<script>
    var talks_titles        =    <?= json_encode($input['talk']); ?>;
    var talks_authors       =    <?= json_encode($input['talk_authors']); ?>;
    var talks_abstracts     =    <?= json_encode($input['talk_abstract']); ?>;
    var talks_sessions      =    <?= json_encode($input['talk_session']); ?>;
    var talks_durations     =    <?= json_encode($input['talk_duration']); ?>;
    var talks_delivery_date =    <?= json_encode($input['talk_delivery_date']); ?>;
 </script>
<? endif; ?>

<? if(!empty($input['poster'])): ?>
<script>
    var posters_titles          = <?= json_encode($input['poster']); ?>;
    var posters_authors         = <?= json_encode($input['poster_authors']); ?>;
    var posters_abstracts       = <?= json_encode($input['poster_abstract']); ?>;
    var posters_sessions        = <?= json_encode($input['poster_session']); ?>;
    var posters_delivery_date   = <?= json_encode($input['poster_delivery_date']); ?>;
</script>
<? endif; ?>
                         
                   <? endif; ?>
                    
            </div>
            
        </div>
    </div>


</div>