<div id="main-col">  
        
<div id="illustration" class="title">
    <div class="container clearfix">
        <h1 class="pull-left">Best Meteor Photo Competition</h1> 
    </div>
</div> 

<div class="container">
 
    <div class="row">
         
   
    
    <div class="col-md-12 text-only">
        
        <img src="/img/meteor.jpg" class="img-responsive pull-right" style="padding:1em"/>
        
        <p>Observations of meteors can often become a crossover between science and art, involving 
        inspirations landscapes or innovative means of data visualisation. This is why we decided to continue the photo
        competition intiated during the IMC2016 in Egmond, the Netherlands. The competition is open to all participants of the IMC<?= CONF_YEAR; ?>.
        The theme for this year’s competition is <strong>‘Meteors in our  lifetime’</strong>. We are targeting the full breath of 
        meteoritics to make it possible for all participants to 
        enter images related, but certainly not limited, to:</p>

        <ul>
            <li>Optical observations using all-sky cameras or DSLR photography</li>
            <li>Data visualisation based on optical, spectral or radio observations</li>
            <li>Images made of meteorites, or the recovery of meteorites</li>
            <li>Observers in the act of observing meteors, in other words the ‘human interest’ side</li>
        </ul>
        
        <p>Based on the submitted images a shortlist will be selected by a jury which are considered to best 
        capture the theme of this year’s competition and displaying a certain uniqueness in their artistic 
        level and image composition. These images will be displayed at the conference venue where you as 
        participant will have the final word. Enter your voting ballot and the photo with the largest number of votes will win.</p>
        
        <p>Each IMC participant is eligible to submitting one (1) photo. It needs to be your own work and by 
        submitting your photo to the competition you are declaring to be the copyright holder of the image, 
        and agree to the image being used in future IMC activities (e.g. website and or printed materials 
        with proper reference to you).</p>
        
        <h2>Details for submitting your photo</h2>
        <ul>
            <li>A title and a short description (max. 100 words) of your photo that explains how it relates to  the theme of the competition.</li>
            <li>JPEG-format, other formats will not be accepted</li>
            <li>10 Mb file size or less. Please provide an image of adequate resolution such that it can be enlarged and printed.</li>
        </ul>
        
        <p>Submit your photos to this email address: <a href="mailto:<?= MAIN_CONTACT;?>"><?= MAIN_CONTACT;?></a></p>

        <p><strong>Submission deadline: <strong class="text-danger"><?= date("l, F jS Y",strtotime(PHOTO_DEADLINE)); ?></strong></strong></p>
        
        
    </div>
</div>