<div id="main-col">  
        
<div id="illustration" class="title">
    <div class="container clearfix">
        <h1 class="pull-left">Poster award</h1> 
    </div>
</div> 

<div class="container">
 
    <div class="row">
         
  
    
    <div class="col-md-12 text-only">
   
        <p>We want to challenge you creatively to think about how to use the time-old poster presentation
        format for communicating your work. This is why we decided to keep the poster 
        competition initiated during IMC2016 in Egmond, the Netherlands.</p>
        
        <p>All posters will be entered automatically into this competition for the title of the ‘<?= CONF_YEAR; ?> best poster award’. Listed 
        below are some of our tips for designing a poster. You as a participant will assess the posters on the basis of these properties in addition to their overall contents via a ballot.</p>

        
        <h2>Design tips and assessment criteria for the <em>best poster award</em></h2>
        <p>What makes a poster a good poster presentation is often considered to be subject to personal taste 
        and tradition. However, there are a few ‘best practices’ when it comes to designing a poster. Here is 
        our Top-5 of tips that you may consider when designing your poster.</p>
       
        <h3>1. Readability</h3>
        <p>Poster should be readable from a distance, especially when multiple people are 
        admiring your work at the same time. Adjust your design accordingly. For example, your title needs 
        to leave an impact, so think big. Use smaller font sizes than the regular text for the administrative 
        sections, such as acknowledgments, references and affiliations. Here is our top tip to check the 
        readability of your poster: print your A0-sized poster on an A4-sized sheet of paper. All text should 
        be readable at this scale.</p>
        
        <h3>2. Text and word count</h3>
        <p>A poster is a presentation form; think of it as an illustrated abstract. It is by 
        no means meant to be the equivalent of a full paper printed on an A0 sheet. The optimum word 
        count for a poster lies around 500-600 words. Your challenge is to design a poster that has enough 
        information for a reader to enjoy your work without needing you there (e.g. when looking at it when 
        you are away on a coffee break), while you can also use it to illustrate and discuss your work when 
        interacting with someone directly during the poster session.</p>
        
        <h3>3. Structure and layout</h3>
        <p>Help your audience using a recognisable structure and flow of the story. For
        example, apply numbering to your sections or be creative in using colours or other means that show 
        the connectivity of the text on the poster. Condense your information into powerful phrases; use 
        bulleted lists as opposed to lengthy sentences. Pay attention to aligning your text and figures and 
        leave some breathing space around your text and figures to make sure the poster doesn’t look 
        cluttered.</p>
        
        <h3>4. Figures</h3>
        <p>When including figures on a poster, note that a graph for a poster needs to be more
        robust and readable than the ones you design for your conference paper. It is comparable to the 
        readability of the poster with respect to font sizes. If you cannot read the graph at the scale of an A4 
        print, it won’t draw attention on a poster. Also, figures need to be self-explanatory. If you are not 
        standing near your poster, a reader should be able to make out what the figure conveys.</p>
        
        <h3>5. Creativity and interactivity</h3>
        <p>Go wild, be creative; make your poster stand out amongst the many 
        others. However, try to be methodical about this. Avoid too many colours; three tops. Think of 
        contrast; dark-coloured letters on a light background are easier to read than light-colored letters on 
        a dark background. Also, TEXT IN CAPITALS is less-easy to read than normal font. And if you want to, 
        make your poster interactive using e.g. anaglyph images and a pair of 3D-glasses or include QR-tags 
        for directing readers with their smartphone to online content such as a video, a website or your 
        email address.</p>
        
        
        <h2>Please note the maximum poster size:</h2>
        <ul>
            <li>Maximum format: 70 x 100 cm</li>
            <li>Portrait orientation, i.e. oriented vertically</li>
        </ul>
        <p><strong>Note that only this format can be accommodated on the poster boards at the conference venue.</strong></p>
       
       
      
           
    </div>
</div>
</div>
</div>
