<div id="main-col">  
        
<div id="illustration" class="title">
    <div class="container clearfix">
        <h1 class="pull-left">Practical Information</h1> 
    </div>
</div> 

<div class="container">
 
    <div class="row">
         
      
        <div class="col-md-12 text-only">
            <h2>Weather</h2>
            <p>Weather is often stable in this time of the year, i.e. sunny and mild
typical (average) daytime temperature 15&deg;C, minimum 5&deg;C
can be up to ~25&deg;C in the day and down to 0&deg;C in the night
but be prepared for rain as well.</p>
            
            <h2>Power Plug</h2>
            <p>The power sockets are type F with a voltage of 230 V and a frequency of 50 Hz (standard Euro connector). Please take along a travel adapter to be sure your plug fits.</p>

            <? /*

            <h2>Visas</h2>
<p>Slovakia is a&nbsp;member state of the European Union and a Schengen treaty state so no visas are required for nationals of EU countries.</p>
<p>
  If you need a visa to travel to Slovakia, it is your responsibility entirely to apply for it in due course so that it will be delivered to you in time. You can <a href="https://www.mzv.sk/web/en/consular_info/visa" target="_blank">check here if you require a visa</a> to enter Slovakia (please double check to make sure). The LOC will be glad to assist you, however. If you need an invitation letter for your application, send your request without delay to the LOC immediately upon registering for the conference.</p>
  <p>
  In case you need an invitation letter for a visa, please provide your legal private domicile or professional address, passport number and the address of the consulate in Slovakia where your visa application will be submitted. Notice that the LOC reserves the right to refuse issuing an invitation letter if there is doubt w.r.t. to the purpose of your visit. </p>
<h2>Weather</h2>
<p>Slovakia has a typical continental climate. During the IMC the expected temperatures are between 20 and 30 degrees Celsius during daytime and between 15 and 20 degrees Celsius at night. Please bear in mind that the weather can be variable and prepare adequate clothes.</p>
<h2>Drinking &amp; smoking</h2>
<p>Adequate drinks will also be served during breakfast, lunch, and diner. In the restaurant of the hotel, you can buy drinks and snacks. All other commodities are available in the town.
  In Slovakia, drinking alcoholic beverages is prohibited for people younger than 18 years. The organization will enforce to this rule during the IMC.</p>
  <p>Smoking is not allowed inside the hotel, details available at the reception desk.</p>
<h2>Other information</h2>
<p>Slovakia is in the central European time zone (the same as Wien, Berlin, Prague, Budapest) with daylight saving time (UTC + 2).</p>
<p>Traffic in Slovakia stays to the right side of the road.</p>
<p>Tapwater is safe to drink.</p>
<p>The currency in Slovakia is the EURO (EUR). </p>
<p>Slovakia has a good cell network with 3G or 4G available at most places. In the hotel Rozálka WiFi is available on every spot of the facility, and in the rooms there are also LAN connectors.</p>
<p>The power sockets are type F with a voltage of 230 V and a frequency of 50 Hz. Please take along a travel adapter to be sure your plug fits.</p>
    
    
    <h2>Local Organization Committee</h2>
    <ul>
        <li>Pavol Zigo (chair)</li>
        <li>Leonard Kornoš</li>
        <li>Tomáš Paulech</li>
        <li>Juraj Tóth</li>
    </ul>
    
    <p>The LOC can usually also provide assistance with matters not covered on these pages. They can be contacted via the <a href="/contact">Contact page</a>.</p>
        */ ?>
    
     </div>
</div>    
</div>
</div>
