<style>.grc{background: #f5f5f5; padding-left: .5rem;}</style>
<div id="main-col">          
<div id="illustration" class="title">
    <div class="container clearfix">
        <h1 class="pull-left">Program</h1>
        
       
    </div>
</div> 
<div class="container">

<div class="row">
      <a class="btn btn-info mt dmb" href="/program_pdf/asbtracts.pdf" target="_blank" style="margin: 0 auto 2rem; border-radius:5px; display:block; max-width:300px; padding:.6rem 1rem; background-color:#535da4; font-weight: bold; border:2px solid #fff">
         <span class="fa fa-file-pdf-o"></span> Download All Abstracts (PDF)
      </a> 
    <? /*

        $pdf = array(
            's2_balaz.pdf',
            's2_IMC_2018_Slansky.pdf',
            's3_1415 Lauriston_Encontreitor - IMC 2018.pdf',
            's3_Andreic_spectral_sensitivity.pdf',
            's3_Bagrov_Adapter to meteor TV camera for meteor observations.pdf',
            's3_Barghini_IMO2018.pdf',
            's3_Vincent Perlerin, Mike Hankey_Universal Cam API.pdf',
            's4_1430 IMC2018_Zoladek_V4.pdf',
            's4_1445 Wisniewski_IMC 2018 - Results PFN 2017 .pdf',
            's4_1500 IMC2018.pdf',
            's4_1520 NEMO-PR-012_1_0-IMC2018-NEMO-Vol2_2018-08-30.pdf',
            's4_1605 IMC2018_Kereszturi3.pdf',
            's4_1640 IMC2018_Yang.pdf',
            's5_1650 VisualMeteorWorkshop2018.pdf',
            's5_1700 Spectroscopic_Workshop.pdf',
            's5_1715 MALBECv1.pdf',
            's5_1725 Ocaña_IMC2018_20180831.pdf',
            's5_1735 imc2018_amp_spade.pdf',
            's5_1745 Hajdukova_Spurious_meteoroid_orbits.pdf',
            's6_0900IMC2018_Gural_ANDESFIRE.pdf',
            's6_0920 Segon_IMC2018.pdf',
            's6_0940 PRISMA_Pezinok.pdf',
            's6_0955Beck_Pezinok 2018.pdf',
            's7_0945-Nagy-IMC2018.pdf',
            's7_1000_Matlovic_IMC18.pdf',
            's7_1055_Ferus_Meteors Slovakia.pdf',
            's7_1115_Vojacek_IMC2018.pdf',
            's7_1130_EgorovaIMC2018_new.pdf',
            's7_1145_Brykina_Bragin_IMC.pdf',
            's8_1045_Tomezzoli_EARS-Obs-Fu-0005.pdf',
            's8_BRAMS_major_showers.pdf',
            's9_1135_Ryabova_IMC2018.pdf',
            's9_1150_IMC2018_Rendtel.pdf',
            's9_1220_SPE_Shrbeny.pdf',
            's9_1240_Sambarov_IMC.pdf'
         );

         function get_p($index, $pdf) {
            return "<a href='/proceedings/".$pdf[$index]."' target='_blank' class='pdf'><strong><span class='fa fa-file-pdf-o'></span> PDF</strong><sup class='fa fa-external-link'></sup></a>";
        } 
    */ ?>
        <? /*
    <style>.pdf { padding-left: .5rem;
        border: 1px solid #337ab7;
        padding: 0 .2rem .2rem;
        border-radius: 4px;
        margin-left: .5rem;} .pdf:hover { text-decoration:none; color:#fff; background:#337ab7}sup.fa {    font-size: 0.55rem;
        padding-left: .3rem;) }</style>
        */ ?>

        <? 
        function get_p($index, $pdf) {
        } ?>
    
    <div class="col-md-12 text-only">
 
         <div class="alert alert-info">
            <span class="fa fa-info-circle"></span> 
             <strong>You can download the presentation (PPT or PDF format in a ZIP file) of some of the lectures by clicking "PPT" next to the title.</strong> 
            <strong>The official IMC2019 program will be soon available.</strong>
        </div>
        
        
        <? 
            // Find the active by default
            $days = array('03.10.2019','04.10.2019','05.10.2019','06.10.2019');
            $d = date('d.m.Y'); 
        ?>

       
        <ul class="nav nav-tabs nav-justified" role="tablist">
            <li <? if($d==$days[1] || !in_array($d,$days)):?>class="active"<? endif; ?>><a href="#friday" role="tab" data-toggle="tab"><strong>Friday</strong>,<br> 4 October 2019</a></li>
            <li <? if($d==$days[2] ):?>class="active"<? endif; ?>><a href="#saturday" role="tab" data-toggle="tab"><strong>Saturday</strong>,<br> 5 October 2019</a></li>
            <li <? if($d==$days[3] ):?>class="active"<? endif; ?>><a href="#sunday" role="tab" data-toggle="tab"><strong>Sunday</strong>,<br> 6 October 2019</a></li>
           
        </ul>
  
        <div class="tab-content"> 
           
              
            <div class="tab-pane <? if($d==$days[1] || !in_array($d,$days)):?>active<? endif; ?>" id="friday">
                <h3>Friday, 4 October 2019</h3>
                <dl class="dl-horizontal">
                        <dt>08:00-09:00</dt> <dd class="grc">Breakfast</dd>
                        <dd class="dmt mb session" style="border-bottom:1px solid #000; padding-bottom: .3rem">
                           <strong>SESSION 1 - Video (FRIPON and AllSky 6)</strong><br>
                           <span style="text-transform:none">Session Chair: <em>Detlef Koshny</em></span></dd>
                           <dt class="mb">09:00-09:15</dt> <dd class="mb"><strong>NEMO Vol 3. - Status of the NEar real-time MOnitoring system</strong> 
                              <a href="/proceedings/ppt/Ott Drolshagen Nemo.zip"><b>[PPT]</b></a> <br/><em>Theresa Ott, Esther Drolshagen</em></dd>
                           <dt class="mb">09:15-09:35</dt> <dd class="mb"><strong>FRIPON vs. AllSky6 : A Practial Comparison</strong> 
                              <a href="/proceedings/ppt/Molau Fripon AS6.zip"><b>[PPT]</b></a><br/><em>Sirko Molau</em></dd>     
                           <dt class="mb">09:35-09:55</dt> <dd class="mb"><strong>The All Sky 6 and Video Meteor Program of the AMS Ltd.</strong>
                              <a href="/proceedings/ppt/Hankey AllSky6.zip"><b>[PPT]</b></a><br/><em>Mike Hankey, Vincent Perlerin and David Meisel</em></dd> 
                           <dt class="mb">09:55-10:10</dt> <dd class="mb"><strong>FRIPON first results after 3 years of observations</strong>
                              <a href="/proceedings/ppt/Colas Fripon.zip"><b>[PPT]</b></a><br/><em>François Colas</em></dd>     
                        
                        <dd class="dmt mb session" style="border-bottom:1px solid #000; padding-bottom: .3rem">
                           <strong>SESSION 1A - Poster Pitches</strong> <a href="/proceedings/ppt/Drolshagen Ott Poster Pitch.zip"><b>[PPT]</b></a><br>
                           <span style="text-transform:none">Session Chair: <em>Esther Drolshagen, Theresa Ott</em></span></dd>
                           <dt class="mb">10:10-10:25</dt> 
                           <dd class="mb">
                                 <ul>
                                       <li><strong>Python Ablation and Dark Flight Calculator</strong> <br> <em>Dušan Bettonvil</em></li>
                                       <li><strong>My first visual observation</strong> <br> <em>Uroš Bettonvil</em></li>
                                       <li><strong>Comparison of radio meteor observations during the period from 1. to 17. August 2019</strong> <br> <em>Peter Dolinsky</em></li>
                                       <li><strong>Deep Learning Applied to Post-Detection Meteor Classification</strong> <br> <em>Pete Gural</em></li>
                                       <li><strong>The All Sky 6 and Video Meteor Program of the AMS Ltd.</strong> <br> <em>Mike Hankey, Vincent Perlerin, David Meisel</em></li>
                                       <li><strong>Application of High Power Lasers for a Laboratory Simulation of Meteor Plasma</strong> <br> <em>Anna Křivková, Lukas Petera and Martin Ferus</em></li>
                                       <li><strong>Numerical model of flight and scattering of meteor body fragments in the Earth's atmosphere</strong> <br> <em>Vladislav Lukashenko</em></li>
                                       <li><strong>Nachtlicht-BüHNE: a citizen science project for the development of a mobile app for night light phenomena</strong> <br> <em>Anastasios Margonis</em></li>
                                       <li><strong>Automated determination of dust particles trajectories in the coma of comet 67P</strong> <br> <em>Julia Marin-Yaseli de la Parra</em></li>
                                       <li><strong>Elemental Composition, Mineralogy and Orbital Parameters of the Porangaba Meteorite</strong> <br> <em>Lukas Petera</em></li>
                                       <li><strong>Geminids 2018</strong> <br> <em>Jürgen Rendtel</em></li>
                                       <li><strong>Meteor Candidate Observations from Automated Sampling of Weather Cameras in VBA</strong> <br> <em>Travis Stenborg</em></li>
                                 </ul>
                           </dd>
                        <dt>10:25-10:45</dt> <dd dd class="grc">Coffee break and <strong>poster session</strong></dd>
                        <dd class="dmt mb session" style="border-bottom:1px solid #000; padding-bottom: .3rem">
                              <strong>SESSION 2 - Radio</strong><br>        
                              <span style="text-transform:none">Session Chair: <em>Jean-Louis Rault</em></span></dd>                
                              <dt class="mb">10:45-10:55</dt> <dd class="mb"><strong>BRAMS forward scatter observations of major meteor showers in 2016-2019</strong><br/><em>Cis Verbeeck</em></dd>
                              <dt class="mb">10:55-11:10</dt> <dd class="mb"><strong>The Radio Meteor Zoo: identifying meteor echoes using artificial intelligence</strong><br/><em>Stijn Calders</em></dd>
                              <dt class="mb">11:10-11:30</dt> <dd class="mb"><strong>Calibration of the BRAMS interferometer</strong><br/><em>Hervé Lamy</em></dd>
                              <dt class="mb">11:30-11:45</dt> <dd class="mb"><strong>The BRAMS receiving station v2.0</strong><br/><em>Antonio Martínez Picar</em></dd>

                        <dt>11:45-12:00</dt> <dd dd class="grc">Group Photo</dd>
                        <dt>12:00-13:30</dt> <dd dd class="grc"><b>Lunch</b></dd>
                         
                        
                        <dd class="dmt mb session" style="border-bottom:1px solid #000; padding-bottom: .3rem">
                           <strong>SESSION 3 - Meteoroid properties</strong><br>
                           <span style="text-transform:none">Session Chair: <em>Travis Stenborg</em></span></dd>
                           <dt class="mb">13:30-13:40</dt> <dd class="mb"><strong>Mass determination of iron meteoroids</strong><br/><em>David Capek</em></dd>
                           <dt class="mb">13:40-13:55</dt> <dd class="mb"><strong>The study of meteoroid parameters with multi-techniques data</strong><br/><em>Anna Kartashova</em></dd>
                           <dt class="mb">13:55-14:10</dt> <dd class="mb"><strong>Simulation of meteors by TW-class high power laser - advantages, limits and future challenges</strong><br/><em>Martin Ferus</em></dd>
                           <dt class="mb">14:10-14:25</dt> <dd class="mb"><strong>A spectral mystery</strong><br/><em>Bill Ward</em></dd>
                           
                        <dd class="dmt mb session" style="border-bottom:1px solid #000; padding-bottom: .3rem">
                           <strong>SESSION 4 - Video and Visual</strong><br>
                           <span style="text-transform:none">Session Chair: <em>Ella Ratz</em></span></dd>
                           <dt class="mb">14:25-14:45</dt> <dd class="mb"><strong>MeteorFlux reloaded</strong><br/><em>Sirko Molau</em></dd>
                           <dt class="mb">14:45-15:05</dt> <dd class="mb"><strong>Double and Triple Meteor Detections</strong><br/><em>Mohammed Talafha</em></dd>
                           <dt class="mb">15:05-15:25</dt> <dd class="mb"><strong>Minor meteor shower anomalies: predictions and observations</strong><br/><em>Jürgen Rendtel</em></dd>
                           <dt class="mb">15:25-15:35</dt> <dd class="mb"><strong>School of Meteor Astronomy at Petnica Science Center</strong><br/><em>Dusan Pavlovic</em></dd>
                           <dt>15:35-16:05</dt> <dd>Coffee break and <strong>poster session</strong></dd>

                        <dd class="dmt mb session" style="border-bottom:1px solid #000; padding-bottom: .3rem">
                              <strong>SESSION 5 - Parent bodies, showers, sporadics</strong><br>
                              <span style="text-transform:none">Session Chair: <em>Martin Baláž</em></span></dd>
                              <dt class="mb">16:05-16:20</dt> <dd class="mb"><strong>Meteor pairs among Geminids</strong><br/><em>Pavel Koten</em></dd>
                              <dt class="mb">16:20-16:35</dt> <dd class="mb"><strong>Analysis of a boulder in the surroundings of 67P</strong><br/><em>Julia Marin-Yaseli de la Parra</em></dd>
                              <dt class="mb">16:35-16:50</dt> <dd class="mb"><strong>Parent bodies of some minor meteor showers</strong><br/><em>Mária Hajduková</em></dd>
                              <dt class="mb">16:50-17:00</dt> <dd class="mb"><strong>How many `sporadics' are sporadic meteors</strong><br/><em>Roman Piffl</em></dd>

                        <dd class="dmt mb session" style="border-bottom:1px solid #000; padding-bottom: .3rem">
                              <strong>SESSION 6 - Modelling and analysis</strong><br>
                              <span style="text-transform:none">Session Chair: <em>Regina Rudawska</em></span></dd>
                              <dt class="mb">17:00-17:10</dt> <dd class="mb"><strong>Where are the missing Fireballs?</strong><br/><em>Ákos Kereszturi</em></dd>
                              <dt class="mb">17:10-17:25</dt> <dd class="mb"><strong>Impact Fluxes on the Columbus module of the ISS: survey and predictions</strong><br/><em>Maximilian Klass</em></dd>
                              <dt class="mb">17:25-17:40</dt> <dd class="mb"><strong>De-Biasing of meteor radiant distributions obtained by the Canary Island Long-Baseline Observatory (CILBO)</strong><br/><em>Athleen Rietze</em></dd>
                              <dt class="mb">17:40-18:00</dt> <dd class="mb"><strong>How to test whether the magnitude distribution of the meteors is exponential</strong><br/><em>Janko Richter</em></dd>                              
                        
                        <dt>18:00-19:00</dt> <dd class="grc"><b>Dinner</b></dd>

                        <dt>20:00-21:00</dt> <dd><b>IMO General Assembly Meeting</b></dd>
                        
       
                </dl>
            </div>
             
            <div class="tab-pane <? if($d==$days[2] ):?>active<? endif; ?>" id="saturday">
                <h3>Saturday, 5 October 2019</h3>
                <dl class="dl-horizontal">
                     <dt>08:00-09:00</dt> <dd class="grc">Breakfast</dd>
                     <dd class="dmt mb session" style="border-bottom:1px solid #000; padding-bottom: .3rem">
                        <strong>SESSION 7 - Video observation networks and campaigns</strong><br>
                        <span style="text-transform:none">Session Chair: <em>Dušan Pavlović</em></span></dd>
                        <dt class="mb">09:00-09:25</dt> <dd class="mb"><strong>3414-2018: A Perseid Fireball with exceptional Light Effects</strong><br/><em>Peter C. Slansky</em></dd>
                        <dt class="mb">09:25-09:35</dt> <dd class="mb"><strong>Results of Polish Fireball Network in 2018</strong><br/><em>Mariusz Wisniewski</em></dd>     
                        <dt class="mb">09:35-09:55</dt> <dd class="mb"><strong>Beta Taurids video campaign</strong><br/><em>Przemyslaw Zoladek</em></dd> 
                        <dt class="mb">09:55-10:15</dt> <dd class="mb"><strong>AMOS and interesting Fireballs</strong><br/><em>Juraj Tóth</em></dd>     
                     
                     <dt>10:25-10:45</dt> <dd dd class="grc">Coffee break and <strong>poster session</strong></dd>
                     
                     <dd class="dmt mb session" style="border-bottom:1px solid #000; padding-bottom: .3rem">
                           <strong>SESSION 8 - Instruments, software</strong><br>
                           <span style="text-transform:none">Session Chair: <em>Mária Hajduková</em></span></dd>
                           <dt class="mb">10:35-10:50</dt> <dd class="mb"><strong>A little tour across the wonderful realm of meteor radiometry</strong><br/><em>Jean-Louis Rault</em></dd>
                           <dt class="mb">10:50-11:05</dt> <dd class="mb"><strong>FRIPON Network internal structure</strong><br/><em>François Colas</em></dd>     
                           <dt class="mb">11:05-11:25</dt> <dd class="mb"><strong>Optimizing the scientific output of satellite formation for a stereoscopic observation</strong><br/><em>Jona Petri</em></dd> 
                           <dt class="mb">11:25-11:40</dt> <dd class="mb"><strong>Investigation of meteor properties using a numerical simulation</strong><br/><em>Martin Baláz</em></dd>  
                           <dt class="mb">11:40-12:00</dt> <dd class="mb"><strong>The Bridge of Spies</strong><br/><em>Peter C. Slansky</em></dd>  
                     
                     <dt>12:00-13:30</dt> <dd dd class="grc"><b>Lunch</b></dd>      
                     <dt>13:30-...</dt> <dd dd class="grc"><b><a href="/excursion">Excursion</a></b>.</dd>  
                     <dt>18:00-...</dt> <dd dd class="grc">BBQ and more...</dd>
                </dl>
            </div>
 
             

         
            <div class="tab-pane <? if($d==$days[3] ):?>active<? endif; ?>" id="sunday">
                <h3>Sunday, 6 October 2019</h3>
                <dl class="dl-horizontal">
                     <dt>08:00-09:00</dt> <dd class="grc">Breakfast</dd>
                     <dd class="dmt mb session" style="border-bottom:1px solid #000; padding-bottom: .3rem">
                        <strong>SESSION 9 - Fireballs and meteorites</strong><br>
                        <span style="text-transform:none">Session Chair: <em>Antal Igaz</em></span></dd>
                        <dt class="mb">09:00-09:15</dt> <dd class="mb"><strong>Daytime Fireball capturing</strong><br/><em>Felix Bettonvil</em></dd>
                        <dt class="mb">09:15-09:30</dt> <dd class="mb"><strong>The daylight fireball of September 12, 2019</strong><br/><em>Sirko Molau</em></dd>     
                        <dt class="mb">09:30-09:45</dt> <dd class="mb"><strong>ESA's activities on fireballs in Planetary Defence</strong><br/><em>Regina Rudawska</em></dd> 
                        <dt class="mb">09:45-09:55</dt> <dd class="mb"><strong>Service Level Agreement (SLA) for European Network Fireball Data Provision</strong><br/><em>Anastasios Margonis</em></dd>   
                        <dt class="mb">09:55-10:20</dt> <dd class="mb"><strong>Evidence of shock metamorphism in Bursa L6 chondrite: Raman and Infrared Spectroscopic Approach</strong><br/><em>Ozan Unsalan</em></dd>     
                
                     <dt>10:20-10:30</dt> <dd>Announcement of poster and photo competition winners </dd>
                     <dt>10:30-10:40</dt> <dd   class="grc">Coffee break and <strong>poster session</strong></dd>

                     <dd class="dmt mb session" style="border-bottom:1px solid #000; padding-bottom: .3rem">
                           <strong>SESSION 10 - Observations</strong><br>
                           <span style="text-transform:none">Session Chair: <em>Mike Hankey</em></span></dd>
                           <dt class="mb">10:40-10:50</dt> <dd class="mb"><strong>Update on the MALBEC project</strong><br/><em>Jeremie Vaubaillon</em></dd>
                           <dt class="mb">10:50-11:15</dt> <dd class="mb"><strong>Polarization of the night sky in Chile 2019</strong><br/><em>Bernd Gährken</em></dd>     
                           <dt class="mb">11:15-11:35</dt> <dd class="mb"><strong>The ESA Leonids 2002 Expedition</strong><br/><em> Detlef Koshny</em></dd> 
                           <dt class="mb">11:35-11:50</dt> <dd class="mb"><strong>Conference summary</strong><br/><em>Felix Bettonvil</em></dd>   
                           
                     <dt>11:50-12:00</dt> <dd dd class="grc">Closing of the 38th IMC</dd>
                     <dt>12:00-...</dt> <dd dd class="grc"><b>Lunch</b></dd>      

                </dl>
            </div> 
            
            <div class="tab-pane" id="posters">
            
                 <h3>Poster sessions</h3>
                 <ol class="poster-lists" style="display:none"> 
                        <li> 
                            <dd><strong>Comparative study of the hypothetical strewn fields of a few previous bolides and real historical ones. </strong><br><em>Tibor Hegedüs, Zoltán Jäger, Szilárd Csizmadia, Zoltán Zelkó and Zsolt Kereszty </em> </dd>
                        </li>
                        <li> 
                            <dd><strong>Meteor observations by optical and acoustical methods. </strong><br><em>Anna P. Kartashova, Galina Bolgova, Yuriy Rybnov, Olga P. Popova, Dmitry O. Glazachev and Vladimir Efremov </em> </dd>
                        </li>  
                        <li> 
                            <dd><strong>Photographic &amp; Visual Observation of the Perseids in Greece 2018 - Earlier Video Observations</strong><br><em>Vagelis Tsamis </em> </dd>
                        </li>  
                        <li> 
                            <dd><strong>Optimization of multistation observation.</strong><br><em>Roman Piffl</em> </dd>
                        </li>  
                        <li> 
                            <dd><strong>The Plasma Radiation Database (PARADE) to simulate meteor ablation species.</strong><br><em>Joe Zender, Regina Rudawska, Detlef Koschny, Stefan Loehle, Martin Eberhart, Fabian Zander and Arne Meindl </em> </dd>
                        </li>  
                        <li> 
                            <dd><strong>Initial design and results of a fireball network add-on radiometer to collect meteor light curves.</strong><br><em>Stuart R. G. Buchan, Robert M. Howie, Jonathan Paxman and Hadrien Devillepoix 
                                </em> </dd>
                        </li>   
                        <li> 
                            <dd><strong>Regular and transitory meteor showers  of comet C/1979 Y1.</strong><br><em>Mária Hajduková  and Luboš Neslušan </em> </dd>
                        </li>    
                        <li> 
                            <dd><strong>Comparison of radio meteor detections at 143 MHz and 50 MHz.</strong><br><em>Peter Dolinský </em> </dd>
                        </li>   
                        <li> 
                            <dd><strong>MT – a software for calculating meteor trajectories and orbits from multiple-stations observations. </strong><br><em>František Ďuriš, Leonard Kornoš and Juraj Tóth </em> </dd>
                        </li>   
                        <li> 
                            <dd><strong>AMOS cameras status. </strong><br><em>Juraj Tóth , Leonard Kornoš, Pavol Zigo, Jozef Vilagi, Jaroslav Simon, Dusan Kalmancok, Jiri Silha and Pavol Matlovič 
                                </em> </dd>
                        </li>  
                        <li> 
                            <dd><strong>Towards an autonomous BRAMS network. </strong><br><em>Stijn Calders, Hervé Lamy, Antonio Martinez-Picar, Cis Verbeeck , Michel Anciaux and Sylvain Ranvier </em> </dd>
                        </li> 
                        <li> 
                            <dd><strong>Bolidozor network. </strong><br><em>Roman Dvořák and Jakub Kákona</em> </dd>
                        </li> 
                        <li> 
                            <dd><strong>NEMETODE Meteor Network used for Citizen Science and Education at Dunsink Observatory. </strong><br><em>Sam Green, Jonathan Mackey, Luke Drury, Hilary O’Donnell, Martin Topinaka, Michael O’Connell, William Stewart, Mike Foylan, Peter Stewart, Gordon Reineke, Kevin Smith, David Malone and Paul Dempsey. </em> </dd>
                        </li>  
                        <li> 
                            <dd><strong>The first confirmed lunar impact flash observed from Brazil.</strong><br><em>David Duarte C. Pinto, Lauriston Trindade, Marcelo L. do P. Villarroel Zurita, Romualdo A. A. Caldas and Marcelo Domingues</em> </dd>
                        </li> 
                        <li> 
                            <dd><strong>Hardware Optimization for Video Network Station</strong><br><em>Stevan Golubović and Aleksa Đokić </em> </dd>
                        </li>  
                        <li> 
                            <dd><strong>Automation of the Video Network. </strong><br><em>Vladimir Nikolić </em> </dd>
                        </li>   
                        <li> 
                            <dd><strong>“Star Counters” - A Citizen Science Project for registering the meteor showers. </strong><br><em>Raquel Cedazo, Esteban Gonzalez,  Miguel R. Alarcón, Miquel Serra-Ricart and Samuel. Lemes </em> </dd>
                        </li>  
                        <li> 
                            <dd><strong>Extending all-sky photography into twilight. </strong><br><em>Felix Bettonvil </em> </dd>
                        </li>      
                        <li> 
                            <dd><strong>CAMS Update on Hardware Interfaces and Software Enhancements. </strong><br><em>Pete Gural </em> </dd>
                        </li>    
                        <li> 
                            <dd><strong>AllSky6 Meteor Camera. </strong><br><em>Mike Hankey and Vincent Perlerin </em> </dd>
                        </li>    
                        <li> 
                            <dd><strong>Low-cost Raspberry Pi meteor station - data quality assessment and first results. </strong><br><em>Denis Vida, Damir Šegon, Michael J. Mazur, Aleksandar Merlak and Dario Zubović </em> </dd>
                        </li>     
                        <li> 
                            <dd><strong>Search for faint iron meteoroids.</strong><br><em>Pavel Koten, Vlastimil Vojáček, Jiří  Borovička, Pavel Spurný, Rostislav Štork and David Čapek </em> </dd>
                        </li>    
                        <li> 
                            <dd><strong>Building a better shower look-up table.</strong><br><em>Peter Jenniskens </em> </dd>
                        </li>    
                        <li> 
                            <dd><strong>Meteor Detecting Efficiency of Video Cameras. </strong><br><em>Peter C. Slansky </em> </dd>
                        </li>   
                        <li> 
                            <dd><strong>Whether any particle in meteor stream has the same chemical composition?</strong><br><em>Vladislav Leonov and Alexander Bagrov</em> </dd>
                        </li>  
                        <li> 
                            <strong>Determination of the Meteor Particles Properties</strong><br><em>V.V. Efremov, O. P. Popova, D.O. Glazachev, A.P. Kartashova</em> 
                        </li>  
                        <li> 
                            <strong>Impact Effects Calculator. Scaling Relations For Shock Wave And Radiation Effects Applied To Chelyabinsk And Tunguska Events.</strong><br><em>Vladislav Leonov and Alexander Bagrov</em> 
                        </li>  
                        <li> 
                            <strong>Adapter to meteor TV camera for observation of shower's weakest meteors</strong>. (2 POSTERS)<br><em>V. A. Leonov, A. V. Bagrov</em> 
                        </li>  
                        <li> 
                            <strong>Trail development of the brightest Perseid during the night of August 12 - 13.</strong><br><em>S. Kaniansky, J. Skvarka.</em> 
                        </li>  
                        <li> 
                            <strong>Meteor section of the Israeli Astronomical Association.</strong>
                        </li>  
                        <li> 
                            <strong>The Italian bolide of May 2017: trajectory, orbit and preliminary fall data.</strong><br><em>A. Carbognani, D. Barghini, D. Gardiol, M. di Martino, G. B. Valsecchi, 
                                P. Triverof, A. Buzzoni, S. Rasetti, D. Selvestrel, C. Knapic, E. Londero, S. Zorba, C. A. Volpicelli, M. Di Carlo, J. Vaubaillon, C. 
                                Marmo, F. Colas, D. Valeri, F. Zanotti, M. Morini, P. Demaria, B. Zanda, 
                                S.Bouley, P. Vernazza, J. Gattacceca, J.-L. Rault, L. Maquet, M. Birlan 
                                </em>
                        </li>  
                        <li> 
                            <strong>Determination of the meteor particle's properties from observational data.</strong><br><em>V. V. Efremov, O. P. Popova, D. O. Glasachev, A. P. Kartashova</em>
                        </li>  
                        <li> 
                            <strong>Impact effects calculator. Scaling relations from shockwave and radiation effects applied to Chelyabinks and Tungunska event.</strong><br><em>
                                D.O. Glasachev, E.D. Podobnaya, O.P. Popova, A. P. Kartashova, N.A. Artemyeva, V. V. Shuvalov, V.V. Svetsov.</em>
                        </li>
                </ol>
            </div>
         
        </div>

    </div>
 </div>
</div>
</div> 

<style>
    .poster-lists li {
        margin:0 0 .5rem 2rem;
    }
</style>