<div id="main-col">  
        
<div id="illustration" class="title">
    <div class="container clearfix">
        <h1 class="pull-left">Scientific Organizing Committee</h1> 
    </div>
</div> 

<div class="container">
 
    <div class="row">
         
        <div class="col-md-12 text-only dmt">   
      
        <ul>
            <li><a href="http://www.imo.net/members/imo_user/profile/?user_id=352" target="_blank">Francisco Ocaña Gonzalez (chair)</a></li>
            <li><a href="http://www.imo.net/members/imo_user/profile/?user_id=171" target="_blank">Pete Gural</a></li>
            <li><a href="http://www.imo.net/members/imo_user/profile/?user_id=11" target="_blank">Marc Gyssens</a></li>
            <li><a href="http://www.imo.net/members/imo_user/profile/?user_id=570" target="_blank">Dušan Pavlović</a></li>
            <li><a href="http://www.imo.net/members/imo_user/profile/?user_id=229" target="_blank">Jean-Louis Rault</a></li>
            <li><a href="http://www.imo.net/members/imo_user/profile/?user_id=82" target="_blank">Jürgen Rendtel</a></li>
            <li><a href="http://www.imo.net/members/imo_user/profile/?user_id=349" target="_blank">Juraj Tóth</a></li>
        </ul>
 

        <p>The SOC can be contacted via the <a href="/contact">Contact page</a>.</p>

 
    </div>      
</div>
         
    </div>      
</div>
 
