<div id="main-col">  
        
<div id="illustration" class="title">
    <div class="container clearfix">
        <h1 class="pull-left">Scientific and Organizing Committee</h1> 
    </div>
</div> 

<div class="container">
 
    <div class="row">
         
        <div class="col-md-12 text-only">  
            <h2>Scientific Committee</h2>    
            
            <h4>Co-Chairs</h4> 
            <ul>
                <li><a href="https://www.imo.net/members/imo_user/profile/DavidAsher" target="_blank">David Asher</a></li>
                <li><a href="https://www.imo.net/members/imo_user/profile/EstherDrolshagen" target="_blank">Esther Drolshagen</a></li>
                <li><a href="https://www.imo.net/members/imo_user/profile/TheresaOtt" target="_blank">Theresa Ott</a></li>
            </ul>
            <h4>Deputies</h4>
            <ul>    
                <li><a href="https://www.imo.net/members/imo_user/profile/MarcGyssens" target="_blank">Marc Gyssens</a></li>
                <li><a href="https://www.imo.net/members/imo_user/profile/?user_id=229" target="_blank">Jean-Louis Rault</a></li>
                <li><a href="https://www.imo.net/members/imo_user/profile/?user_id=82" target="_blank">Jürgen Rendtel</a></li>
                <li><a href="https://www.imo.net/members/imo_user/profile/?user_id=349" target="_blank">Juraj Tóth</a></li>
                <li><a href="https://www.imo.net/members/imo_user/profile/?user_id=56" target="_blank">Jérémie Vaubaillon </a></li>
            </ul>
            <p>The Scientific  Committee can be contacted via the <a href="/contact">Contact page</a>.</p>

            <h2>Organizing Committee</h2>
            <h4>Co-Chairs</h4> 
            <ul>
                <li><a href="https://www.imo.net/members/imo_user/profile/?user_id=1" target="_blank">Rainer Arlt</a>
                <li><a href="https://www.imo.net/members/imo_user/profile/?user_id=31" target="_blank">André Knöfel</a>
                <li><a href="https://www.imo.net/members/imo_user/profile/?user_id=36" target="_blank">Sirko Molau</a>
                <li><a href="https://www.imo.net/members/imo_user/profile/?user_id=210" target="_blank">Ina Rendtel</a>
                <li><a href="https://www.imo.net/members/imo_user/profile/?user_id=82" target="_blank">Jürgen Rendtel</a></li>
                <li><a href="https://www.imo.net/members/imo_user/profile/?user_id=49" target="_blank">Roland Winkler</a>
            </ul>
            
            <p><strong>Registration and finance:</strong> <a href="https://www.imo.net/members/imo_user/profile/MarcGyssens" target="_blank">Marc Gyssens</a><br/>
                <strong>Website:</strong> <a href="https://www.imo.net/members/imo_user/profile/VincentPerlerin" target="_blank">Vincent Perlerin</a> (Mike Hankey)
            </p>
            <p>The Organizing Committee can be contacted via the <a href="/contact">Contact page</a>.</p>

    </div>      
</div>
         
    </div>      
</div>
 
