<div id="main-col">  
        
<div id="illustration" class="title">
    <div class="container clearfix">
        <h1 class="pull-left">Conference Venue</h1> 
    </div>
</div> 

<div class="container">
 
    <div class="row">
    
        
        <div class="col-md-12 text-only">         
        
      
      

       <p>The 38th International Meteor Conference (IMC)
        will be held in Bollmannsruh, Germany, a countryside place not far from Berlin. The venue is
        a youth hostel by a lake, which hosted the IMC
        already in 2003.</p>
        <p>The hostel is called <a href="https://kiez-bollmannsruh.de/" target="_blank">KiEZ Boll-mannsruh</a> and can as such be found on Google
        maps. Alternatively, the address is Bollmanns-ruh 13, 14778 Päwesin, Germany, or it can be
        found at the geographical coordinates 52.506 N, 12.679 E. </p>
        <p>
        We were able to rent the entire place
        for October 3-6. Earlier dates were not available
        in 2019. The hostel offers accomodation in bun-galows, a conference hall as well as a few smaller
        semimar rooms. Note that the relatively remote
        location brings along rather poor connectivity to
        the internet.</p> 

<p>The area is
a 25-acre place for recreation with surrounding
forests and fields for extensive hikes. For the
brave, swimming in the lake is possible, but water temperatures will have dropped to about 
15&deg; C by October.</p>


<h2>Important Info</h2>
<p>Parking is only possible outside the campus (the area is signposted).</p>
<p>Beverages for sale are available throughout the IMC.</p>
<p>Duvets and linens are provided – but <b>please bring you own towel</b>!</p>
<p>The entire <b>KiEZ is a non-smoking area</b>.</p>
<p>There is <b>no wifi or LAN available</b>. Via the German Telekom there is a
   reasonable mobile internet connection. So if you need data transfer,
   check whether your provider cooperates with the German Telekom
   (roaming). For example, a Congstar prepaid card should also work on
   site.</p>
       
        
        <div class="row dmb">
            <div class="col-md-6">
                <a href="/img/acc/acc1.jpg" data-gallery><img src="/img/acc/acc1.jpg" class="img-responsive mt"/></a>
            </div>
            <div class="col-md-6">
                <a href="/img/acc/acc2.jpg" data-gallery><img src="/img/acc/acc2.jpg" class="img-responsive mt"/></a>
            </div>
           
        </div>        
      
    
    </div>
</div>
 </div>
 </div>

