<div id="main-col">  
        
<div id="illustration" class="title">
    <div class="container clearfix">
        <h1 class="pull-left">Conference Venue</h1> 
    </div>
</div> 

<div class="container">
 
    <div class="row">
    
        
        <div class="col-md-12 text-only">         
        
      
         <p>The conference will be held at the <a href="https://kiez-bollmannsruh.de/" target="_blank">KiEZ Bollmannsruh</a>
            which is situated 60km from Berlin.
        </p>
         
      
  
        
        
        <div class="row dmb">
            <div class="col-md-6">
                <a href="/img/acc/acc1.jpg" data-gallery><img src="/img/acc/acc1.jpg" class="img-responsive mt"/></a>
            </div>
            <div class="col-md-6">
                <a href="/img/acc/acc2.jpg" data-gallery><img src="/img/acc/acc2.jpg" class="img-responsive mt"/></a>
            </div>
           
        </div>         
        
    
    </div>
</div>
 </div>
 </div>

