<div id="main-col">  
        
<div id="illustration" class="title">
    <div class="container clearfix">
        <h1 class="pull-left">Conference Venue</h1> 
    </div>
</div> 

<div class="container">
 
    <div class="row">
    
        
        <div class="col-md-12 text-only">         
        
      
         <p>The conference will be held at the <a href="https://kiez-bollmannsruh.de/" target="_blank">KiEZ Bollmannsruh</a>
            which is situated 60km from Berlin.
        </p>
         
       
        
        <div class="row dmb">
            <div class="col-md-6">
                <a href="/img/acc/acc1.jpg" data-gallery><img src="/img/acc/acc1.jpg" class="img-responsive mt"/></a>
            </div>
            <div class="col-md-6">
                <a href="/img/acc/acc2.jpg" data-gallery><img src="/img/acc/acc2.jpg" class="img-responsive mt"/></a>
            </div>
           
        </div>        
        
        <h2>Alternative venue</h2>
        <p>The IMC venue is neighboured by <a href="https://www.hotel-bollmannsruh.de/home-en.html" target="_blank">a hotel</a> at the same lake as the KiEZ
Bollmannsruh. You can also book a room in the hotel, but booking is 
on your own. The IMC participation fee is then 90 EUR for the remaining
expenses (lunch, dinner, conference facilities).</p>

<p>The walking distance from the hotel to the IMC venue is about 600 metres.
Both locations have a decent number of parking lots for cars. You can book a room at the Hotal Boolmannsruh  <a href="https://www.hotel-bollmannsruh.de/home-en.html" target="_blank">online</a>.</p>
        
    
    </div>
</div>
 </div>
 </div>

