<div id="main-col">  
        
<div id="illustration" class="title">
    <div class="container clearfix">
        <h1 class="pull-left">Spectroscopic Workshop</h1> 
    </div>
</div> 

<div class="container">
 
    <div class="row">
       
        <div class="col-md-12 text-only">
            
            
 
            <p>
                Right before the IMC, a Spectroscopic Workshop will be organized at the conference venue. The
                Workshop is limited to experts and will focus on the discussion of spectroscopic methodology
                and data format. Spectroscopy in meteor observing is an emerging technology in which several
                research groups have meanwhile gathered considerable expertise, and the time is now ready to bring
                this expertise together.
            </p>
            
            <h3>Practical information and program</h3><p><strong>The Spectroscopic Workshop will start at 14:00 on Wednesday, August 29<sup>th</sup>, and end
            at 18:00 on Thursday, August 30<sup>th</sup>.</strong> A detailed program will be provided in due time.
            Experts in spectroscopic observations and/or analysis are encouraged to participate.</p>
            
            <h3>Cost</h3>
            <p>Participation in the Spectroscopic Workshop is free. The extra night of August 29-30 and the extra meals
            (lunch and dinner on August 29<sup>th</sup> and lunch on August 30<sup>th</sup>) should be arranged with the hotel by the
            participants themselves, just like any other additional nights or meals you may wish. If you
            mention “IMC2018” while booking, a double room for one night costs 50&euro; plus 0.33&euro;
            tax (including breakfast), and a meal costs 8.50&euro;. These prices are not guaranteed if you use
            third parties such as booking.com to book the hotel. If you would like to share a doubled room
            during the workshop, please mail this request to <a href="mailto:imc2018@imo.net">imc2018@imo.net</a> before booking the room. The
            LOC can then assist you with finding a roommate with whom you can share the room cost.</p>

            <h3>Registration</h3>
            <p>If you want to participate, please answer "Yes" to  “Do you wish to participate to the SPECTROSCOPIC WORKSHOP on August 29<sup>th</sup>-30<sup>th</sup>?” on the IMC
            <a href="/registration">registration form</a>.</p>
            
           
            
            <div class="alert alert-info"> People who have already registered for the IMC before this
            option was available may <a href="/contact">contact the LOC</a>.</div>
 
 
  
  
   </div>
</div>
</div>
</div>