<div id="main-col">  
        
<div id="illustration" class="title">
    <div class="container clearfix">
        <h1 class="pull-left">Visual Workshop - Program</h1> 
    </div>
</div> 

<div class="container">
 
    <div class="row">
       
        <div class="col-md-12 text-only mt">
            <p>
                Right before the IMC, a Visual Workshop will be organized at the conference venue. The
                Workshop will focus on a hands-on session where experts share their experience in a global
                analysis of the visual observations of the Perseids 2016, using the Visual Meteor Database and
                the MetFns analysis software. With this software having been updated recently, we feel the
                timing for such a workshop is just right. We hope it will contribute to helping meteor workers to
                get the most out of the IMO’s visual (and other) meteor data, e.g., by performing global analysis
                of meteor showers themselves.
            </p>
            
            <h3>Practical information and program</h3><p><strong>The Visual Workshop will start at 14:00 on Wednesday, August 29<sup>th</sup>, and end
            at 18:00 on Thursday, August 30<sup>th</sup>.</strong> A detailed program will be provided in due time.
            People interested in data analysis of visual or other meteor observations are encouraged to
            participate.</p>
            
            <h3>Cost</h3>
            <p>Participation in the Visual Workshop is free. The extra night of August 29-30 and the extra meals
            (lunch and dinner on August 29<sup>th</sup> and lunch on August 30<sup>th</sup>) should be arranged with the hotel by the
            participants themselves, just like any other additional nights or meals you may wish. If you
            mention “IMC2018” while booking, a double room for one night costs 50&euro; plus 0.33&euro;
            tax (including breakfast), and a meal costs 8.50&euro;. These prices are not guaranteed if you use
            third parties such as booking.com to book the hotel. If you would like to share a doubled room
            during the workshop, please mail this request to <a href="mailto:imc2018@imo.net">imc2018@imo.net</a> before booking the room. The
            LOC can then assist you with finding a roommate with whom you can share the room cost.</p>

            <h3>Registration</h3>
            <p>If you want to participate, please answer "Yes" to  “Do you wish to participate to the VISUAL WORKSHOP on August 29<sup>th</sup>-30<sup>th</sup>?” on the IMC
            <a href="/registration">registration form</a>.</p>
            
             <div class="alert alert-info"> People who have already registered for the IMC before this
            option was available may <a href="/contact">contact the LOC</a>.</div>
 
 
 
  
  
   </div>
</div>
</div>
</div>