<div id="main-col">  
        
<div id="illustration" class="title">
    <div class="container clearfix">
        <h1 class="pull-left">Visual Workshop - Program</h1> 
    </div>
</div> 

<div class="container">
 
    <div class="row">

       <ol class="breadcrumb show hidden-md hidden-lg">
          <li><a href="/workshop1">Presentation</a></li>
          <li class="active"><a href="/workshop1_day1">Program</a></li> 
        </ol>
          
       
        <div class="col-md-10 text-only mt">
 
            <h3 class="nmt brdd">Wednesday August 29</h3>
            <p>Chair: <strong>Cis Verbeeck</strong></p>
            <div class="program one-hour ">
                <div>
                    <i>14:00</i>
                    <span><strong>Introduction</strong> <em>Cis Verbeeck</em></span>
                </div>  
                <div>
                    <i>14:10</i>
                    <span><strong>Recent enhancements of the online visual form</strong> <em>Vincent Perlerin</em></span>
                </div>   
                <div>
                    <i>14:30</i>
                    <span><strong>Guidelines: how to analyze meteor showers from visual observations?</strong> <em>Jürgen Rendtel</em></span>
                </div>   
                <div>
                    <i>15:20</i>
                    <span><strong>Discussion: Optimal bin size algorithms and formulas</strong> <em>Kristina Veljkovic</em></span>
                </div>  
                <div>
                    <i>15:40</i>
                    <span><strong>Live ZHRs on the IMO website</strong> <em>Vincent Perlerin</em></span>
                </div>  
                <div>
                    <i>16:00</i>
                    <span><strong>Coffee break</strong></span>
                </div> 
                <div>
                    <i>16:30</i>
                    <span><strong>Tutorial on shower analysis routines in MetFns</strong> <em>Kristina Veljkovic</em></span>
                </div> 
                <div>
                    <i>17:00</i>
                    <span><strong>Preliminary analysis of Perseids 2016 using the VMDB and MetFns</strong> <em>Jürgen Rendtel and Kristina Veljkovic</em></span>
                </div>
                <div>
                    <i>18:30</i>
                    <span><strong>End</strong></span>
                </div>  
            </div>

            <h3 class="brdd dmt">Thursday August 30</h3>
            <p>Chair: <strong>Jürgen Rendtel and Kristina Veljkovic</strong></p>
            <div class="program one-hour ">
                <div>
                    <i>09:00</i>
                    <span>
                        <strong>Hands-on analysis of Perseids 2016 using the VMDB and MetFns</strong><br/>
                        Small groups working on:
                        <ul>
                            <li>Effect of experienced vs. all observers</li>
                            <li>Perception coefficient</li>
                            <li>Effect of poor vs. good observing conditions</li>
                            <li>Outlier rejection</li>
                            <li>Effect of the zenith exponent</li>
                            <li>Error propagation</li>
                            <li>Optimal bin size algorithm</li>
                        </ul>
                    </span>
                </div>
                <div>
                    <i>10:30</i>
                    <span><strong>Coffee Break</strong></span>
                </div>
                <div>
                    <i>11:00</i>
                    <span><strong>Hands-on analysis of Perseids 2016 using the VMDB and MetFns – continued</strong><br/>
                    Each group gets a new assignment from the list above.</span>
                </div>
                <div>
                    <i>12:30</i>
                    <span><strong>Lunch</strong></span>
                </div>
            </div>
            <p class="dmt">Chair: <strong>Cis Verbeeck</strong></p>
            <div class="program one-hour ">
                <div>
                    <i>14:00</i>
                    <span><strong>Wrap-up: Comparing the results, conclusion on the Perseids 2016.</strong></span>
                </div>
                <div>
                    <i>15:45</i>
                    <span><strong>Coffee Break</strong></span>
                </div>
                <div>
                    <i>16:15</i>
                    <span><strong>Discussion: Koen Miskotte’s Perseids 2016 analysis</strong> <em>Cis Verbeeck</em></span>
                </div>
                <div>
                    <i>17:00 </i>
                    <span><strong>Comparison to other Perseids 2016 observations: video, radio,...</strong> <em>Cis Verbeeck</em></span>
                </div>
                <div>
                    <i>17:15 </i>
                    <span><strong>Discussion: Perseids 2016 publication?</strong></span>
                </div>
                 <div>
                    <i>18:00 </i>
                    <span><strong>End</strong></span>
                </div>
            </div>
   </div>

   <div class="col-md-2 text-only mt col-menu">
        <div id="affix-lm" class="hidden-sm hidden-xs ">
            <a href="/workshop1" >Presentation</a>
            <a href="/workshop1_day1" class="active">Worskshop Program</a>
        </div>
   </div>
</div>
</div>
</div>