</div>
</div></div></div>
 <div id="footer-container">
   
    <div class="box mt bg icon-container">
        <div class="container">
            <div class="row b-btn text-center">
                        <div class="col-md-2 col-sm-4 col-xs-4 anim-rotate-hover ">
                            <a href="/acc" class="b-btn"> 
                                <span class="fa fa-bed fa-3x "></span>
                                <span class="nw">Accommodation</span>
                            </a>
                        </div>
                        <div class="col-md-2  col-sm-4 col-xs-4 anim-rotate-hover ">
                             <a href="/travel" class="b-btn"> 
                                <span class="fa fa-plane fa-3x"></span>
                                 <span class="nw">Travel</span>
                            </a>               
                        </div>
                        <div class="col-md-2  col-sm-4 col-xs-4 anim-rotate-hover ">
                            <a href="/program"  class="b-btn"> 
                                <span class="fa fa-calendar fa-3x"></span>
                                 <span class="nw">Program</span>
                            </a>
                        </div>
                        <div class="visible-sm-block  clearfix"></div>
                        <div class="col-md-2 col-sm-4 col-xs-4  anim-rotate-hover ">
                            <a href="/excursion" class="b-btn"> 
                                <span class="fa fa-ship fa-3x"></span>
                                 <span class="nw">Excursion </span>
                            </a>
                        </div>
                        <div class="col-md-2  col-sm-4 col-xs-4  anim-rotate-hover ">
                            <a href="/registration" class="b-btn"> 
                                <span class="fa fa-file-text-o fa-3x"></span>
                                 <span class="nw">Registration</span>
                            </a>
                        </div>
                         <div class="col-md-2  col-sm-4 col-xs-4  anim-rotate-hover ">
                            <a href="/contact" class="b-btn"> 
                                <span class="fa  fa-send-o fa-3x"></span>
                                 <span class="nw">Contact</span>
                            </a>
                        </div>
            </div>
        </div>
    </div>
 
<footer role="contentinfo" id="footer">
      <div class="container text-center">
                 <p> <? /*  - <a href="/admin">Admin</a> - */ ?>
                    developed &amp; maintained by <a href="http://www.mikehankey.com/" target="_blank">Mike Hankey &amp; Associates, LLC</a>  &copy; <?= date('Y'); ?> - <a href="/disclaimer">Service agreement &amp; disclaimer</a> - <a href="/gdpr">Data Protection and Privacy</a>
                </p>
       </div>
</footer>
 </div>
    <script src="/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-gallery/2.22.0/js/jquery.blueimp-gallery.min.js"></script>
    <div id="blueimp-gallery" class="blueimp-gallery" data-start-slideshow="true">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>
</body>
</html>