<footer role="contentinfo" id="footer">
      <div class="container text-center">
                 <p> <a href="/disclaimer">Service agreement and disclaimer</a> - <a href="/admin">Admin</a> -
                    ddddeveloped &amp; maintained by <a href="http://www.mikehankey.com/" target="_blank">Mike Hankey &amp; Associates, LLC</a>  &copy; <?= date('Y'); ?>
                </p>
       </div>
</footer>
 </div>


<script src="/imo/js/used/framework.min.js"></script> 
<script src="/imo/js/languages/languages.php"></script>
<script src="/imo/js/languages/admin_languages.php"></script>
<script src="/imo/js/utilities/errors.js"></script>
<script src="/imo/js/utilities/modals.js"></script>
<script src="/imo/js/plugins/jquery.tablesorter.min.js"></script>
<script src="/imo/js/admin/remove_duplicates.js"></script>
<script src="/imo/js/admin/inactivate_report.js"></script>
<script src="/imo/js/admin/edit_report.js"></script>
<script src="/imo/js/admin/link_to_event.js"></script>
<script src="/imo/js/admin/create_event.js"></script>
<script src="/imo/js/admin/unlink_event.js"></script>
<script src="/imo/js/admin/shared.js"></script>

</body>
</html>