</div>
</div></div></div>
<div id="footer-container">
 
 
<footer role="contentinfo" id="footer">
      <div class="container text-center">
                 <p> <a href="/disclaimer">Service agreement and disclaimer</a> - <a href="/admin">Admin</a> -
                    developed &amp; maintained by <a href="http://www.mikehankey.com/" target="_blank">Mike Hankey &amp; Associates, LLC</a>  &copy; <?= date('Y'); ?>
                </p>
       </div>
</footer>
 </div>
    <script src="/js/admin.js"></script>
    
    
</body>
</html>
