<!DOCTYPE html>
<html lang="en">
<head>
  <title><?= $title; ?></title>
  
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="International Meteor Conference 2016 - June 2 - 5, Noordwijk - Netherlands">
  <meta name="keywords" content="IMC, IMO, Meteor, Conference">
  <meta name="author" content="Vincent Perlerin for Mike Hankey and Associates LLC">
  
  <link href="/css/main.css" rel="stylesheet"/>
   
</head>
<body class="w admin">