 <div class="admin-title clearfix">
        <h2 class="pull-left"><?= _('Posters'); ?></h2>
        <? if(!empty($input['pagination']) && !empty($input['pagination']['last_page']) && $input['pagination']['last_page']!='1'): ?>
            <span class="inline-pagination-info pull-right">
                    <? 	$top = ($input['page']-1)*$input['max_record']+$input['max_record'];
                        $max_on_page = $top>$input['total_results']?$input['total_results']:$top;
                    ?>
                    <?= sprintf('<strong>%s</strong> - <strong>%s</strong> of <strong>%s</strong>', ($input['page']-1)*$input['max_record'],$max_on_page,$input['total_results']); ?> 
            </span>
        <? else: ?>	
            <strong class="inline-pagination-info pull-right">
                <?= count($input['posters']); ?> posters found
            </strong>
        <? endif; ?>
</div>

<form role="form" class="form-inline mb">
    <input type="hidden" name="search" value="true">
    <div class="form-group">
        <input type="text" name="lastname" class="form-control" placeholder="Last name" value="<?= (!empty($input['lastname']))?$input['lastname']:''; ?>">
    </div>
    <div class="form-group">
        <select class="form-control" name="session">
             <option value=""   <?if(empty($input['session'])):?>selected<?endif; ?>>All sessions</option> 
            <? foreach($input['sessions'] as $k=>$v): ?>  
                <option value="<?= $k; ?>" <? if($input['session']==$k):?>selected<?endif;?>><?= $v; ?></option>
            <? endforeach; ?>   
        </select>
    </div>
    <div class="form-group">
         <select name="first_editing"  class="form-control">
            <option value=""   <?if(empty($input['first_editing'])):?>selected<?endif; ?>>First Editing</option> 
            <option value="-1" <?if(!empty($input['first_editing']) && $input['first_editing']==-1):?>selected<?endif; ?>>First Editing Not Ready</option>
            <option value="1"  <?if(!empty($input['first_editing']) && $input['first_editing']==1):?>selected<?endif; ?>>First Editing Ready</option>
        </select>
    </div>
    <div class="form-group">
         <select name="final_editing"  class="form-control">
            <option value=""   <?if(empty($input['final_editing'])):?>selected<?endif; ?>>Final Editing</option> 
            <option value="-1" <?if(!empty($input['final_editing']) && $input['final_editing']==-1):?>selected<?endif; ?>>Final Editing Not Ready</option>
            <option value="1"  <?if(!empty($input['final_editing']) && $input['final_editing']==1):?>selected<?endif; ?>>Final Editing Ready</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary modal_submit ">Ok</button>	
</form>

<? if(!empty($input['error'])): ?>
    <div class="alert alert-danger"><?= $input['error']; ?></div>
<? endif; ?> 

<? if(!empty($input['confirm'])): ?>
    <div class="alert alert-success"><?= $input['confirm']; ?></div>
<? endif; ?> 

<? if(!empty($input['posters'])): ?>
<table class="table table-striped mt" style="font-size: .95em">
    <thead>
        <tr>
            <th>Submitted by</th>
            <th>Author(s)</th>
            <th>Session</th>
            <th>Title</th>
            <? /* <th>Abstract</th> */ ?>
            <th>Paper expecting date</th>
            <th>First Editing Ready</th>
            <th>Final Editing Ready</th>
            <th>&nbsp;</th>        
        </tr>
    </thead>
    <tbody>
        <? foreach($input['posters'] as $poster): ?>
            <tr id="poster_<?= $poster['id']; ?>">
                <td><?= $poster['user_id']; ?> <a href="/admin/participants?lastname=<?= $poster['lastname']; ?>"><?= $poster['firstname']; ?> <?= $poster['lastname']; ?></a></td>
                <td><?= $poster['authors']; ?></td>
                <td><?= $input['sessions'][$poster['session']]; ?></td>
                <td><?= $poster['title']; ?></td>
                <td>
                    <?= $input['delivery_dates'][$poster['delivery_date']]['text']; ?>
                </td>
                <td>
                    <?= $poster['first_editing']==-1?'-':'<span class="fa fa-check-square"></span>';?>                           
                </td>
                <td>
                    <?= $poster['final_editing']==-1?'-':'<span class="fa fa-check-square text-success"></span>';?>                           
                </td>
                <td  class="nw text-right">
                    <button data-poster_title="<?= $poster['title']; ?>" data-user_id="<?= $poster['user_id']; ?>" class="btn btn-danger btn-xs" data-poster_id="<?= $poster['id']; ?>" data-action="delete_poster"><span class="fa fa-trash-o"></span> Del</button>
                    <button data-poster_title="<?= $poster['title']; ?>" data-user_id="<?= $poster['user_id']; ?>" class="btn btn-default btn-xs" data-poster_id="<?= $poster['id']; ?>" data-action="edit_poster"><span class="fa fa-edit"></span> Edit</button>
                </td>
            </tr>
        <? endforeach; ?>
    </tbody>
</table> 
<? if(!empty($input['pagination']['pagination'])) : ?>
			<div class="mb"><?=$input['pagination']['pagination'];?></div>
<? endif;?>	

<? else: ?>

    <div class="alert alert-danger">
        No posters found based on your criteria.
    </div>
<? endif; ?>